{% from "common/macros/service-address.njk" import serviceAddressMacro %}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--additional">
<h2 class="govuk-heading-s">{{ iWantTo }}</h2>
{% if displayState.isAfter('AwaitingDocuments') or displayState.isAtOrAfter('AwaitingHWFDecision') %}
  <p class="govuk-body">
    <a class="govuk-link" id="moneyAndPropertySidebarLink" href="https://www.gov.uk/money-property-when-relationship-ends" target="_blank">{{ moneyAndProperty }}
    </a>
  </p>
{% endif %}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<h3 class="govuk-heading-s govuk-!-margin-bottom-2">{{ gettingHelp }}</h3>
{% include "../../../common/contact-us/details.njk" %}
