{% extends "common/template.njk" %}

{% block pageTitle %}
  Divorce - GOV.UK
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Default page template</h1>
  <a href="{{ link }}">{{ linkText }}</a>
{% endblock %}
