{% extends "common/page.njk" %}

{% block pageTitle %}
  Divorce - GOV.UK
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Let's get our divorce on!</h1>
  <a href="{{ link }}">{{ linkText }}</a>
{% endblock %}
