{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "common/page.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ pageHeader[serviceType] }}</h1>
  {{ govukButton({
    text: pageHeader[serviceType],
    href: link,
    isStartButton: true
  }) }}
{% endblock %}
