{% extends "common/page.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <p class="govuk-body">{{ line1.part1 }}<a class="govuk-link" href={{ line1.link }}>{{ line1.link }}</a>{{ line1.part2 }}</p>
  <p class="govuk-body">{{ line2 }}</p>
  <p class="govuk-body">{{ line3 }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ point1 }}</li>
    <li>{{ point2 }}</li>
    <li>{{ point3 }}</li>
    <li>{{ point4 }}</li>
    <li>{{ point5 }}</li>
  </ul>
  <p class="govuk-body">{{ line4 }}</p>
  <p class="govuk-body">
    <a class="govuk-link" href={{ line5.link }} target="_blank">{{ line5.part1 }}</a>
    {{ line5.part2 }}
  </p>
  <h2 class="govuk-heading-m">{{ subheading1 }}</h2>
  <p class="govuk-body">{{ line6 }}</p>
  <p class="govuk-body">{{ line7 }}</p>
  <p class="govuk-body">{{ line8 }}</p>
  <p class="govuk-body">{{ line9 }}</p>
  <p class="govuk-body">{{ line10 }}</p>
  <p class="govuk-body">{{ line11.part1 }}<a class="govuk-link" href={{ line11.link }}>{{ line11.govUk }}</a>{{ line11.part2 }}
    <a class="govuk-link" href={{ line11.link }}>{{ line11.govUk }}</a>
    {{ line11.part3 }}
  </p>
  <p class="govuk-body">{{ line12 }}</p>
  <p class="govuk-body"><a class="govuk-link" href={{ line13.link }}>{{ line13.part1 }}</a>{{ line13.part2 }}</p>
  <h2 class="govuk-heading-m">{{ subHeading2 }}</h2>
  <p class="govuk-body">{{ line14 }}</p>
  <h2 class="govuk-heading-m">{{ subHeading3 }}</h2>
  <p class="govuk-body">{{ line15 }}</p>
  <p class="govuk-body">{{ email }} <a class="govuk-link" href="mailto:{{ contactEmail }}">{{ contactEmail }}</a></p>
  <p class="govuk-body">{{ call }}</p>
  <p class="govuk-body">{{ line16 }}</p>
  <h2 class="govuk-heading-m">{{ subHeading4 }}</h2>
  <p class="govuk-body">{{ line17 }}</p>
  <p class="govuk-body">{{ email }} <a class="govuk-link" href="mailto:{{ contactEmail }}">{{ contactEmail }}</a></p>
  <p class="govuk-body">{{ call }}</p>
  <h2 class="govuk-heading-m">{{ subHeading5 }}</h2>
  <p class="govuk-body">
    {{ line18.part1 }}<a class="govuk-link" href={{ line18.link1 }}>{{ line18.part2 }}</a>{{ line18.part3 }}
    <a class="govuk-link" href={{ line18.link2 }}>{{ line18.part4 }}</a>
  </p>
  <h2 class="govuk-heading-m">{{ subHeading6 }}</h2>
  <p class="govuk-body">{{ line19 }}</p>
  <p class="govuk-body">{{ line20 }}</p>
  <p class="govuk-body">{{ line21 }}</p>
  <h2 class="govuk-heading-m">{{ subHeading7 }}</h2>
  <p class="govuk-body">{{ line22 }}</p>
  <h2 class="govuk-heading-m">{{ subHeading8 }}</h2>
  <p class="govuk-body">{{ line23 }}</p>
  <h2 class="govuk-heading-m">{{ subHeading9 }}</h2>
  <p class="govuk-body">{{ line24 }}</p>
  <p class="govuk-body">{{ line25 }}</p>
  <p class="govuk-body">{{ line26 }}</p>
  <h2 class="govuk-heading-m">{{ subHeading10 }}</h2>
  <p class="govuk-body">{{ line27 }}</p>
  <h2 class="govuk-heading-m">{{ subHeading11 }}</h2>
  <p class="govuk-body">{{ line28 }}</p>
  <h2 class="govuk-heading-m">{{ subHeading12 }}</h2>
  <p class="govuk-body">{{ line29 }}</p>
  <p class="govuk-body">{{ line30 }}</p>
  <p class="govuk-body">{{ line31 }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ point6 }}</li>
    <li>{{ point7 }}</li>
  </ul>
{% endblock %}
