{% set answerLine13 = stepAnswers.connectionsToEnglandWales.line13 %}
{% set jurisdictionDetails = answerLine13.jurisdictionMoreDetailsContent %}
{% if userCase.connections and userCase.connections.length %}
{{ answerLine13.heading }}
  <ul class="govuk-list govuk-list--bullet">
    {% for connectionBullet in answerLine13.connectionBullets %}
      <li>{{ connectionBullet }}</li>
    {% endfor %}
  </ul>
  <details class="govuk-details summary" data-module="govuk-details">
    <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            {{ jurisdictionDetails.title or jurisdictionDetails.defaultLink }}
          </span>
    </summary>
    <div class="govuk-details__text">
      {% if jurisdictionDetails.text.length == 1 %}
        {{ jurisdictionDetails.text[0] | safe }}
      {% else %}
        {% for jurisdictionItem in jurisdictionDetails.text %}
          <h3 class="govuk-heading-s govuk-!-margin-bottom-1">{{ jurisdictionItem.heading }}</h3>
          <p class="govuk-body govuk-!-margin-bottom-2">{{ jurisdictionItem.body | safe }}</p>
        {% endfor %}
      {% endif %}
    </div>
  </details>
{% endif %}
