{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "common/page.njk" %}

{% set nextIncompleteStep = getNextIncompleteStepUrl() %}
{% set isApplicationReadyToSubmit =
        '/check-your-answers' in nextIncompleteStep or
        nextIncompleteStep === '/' or
        nextIncompleteStep === '/applicant2/confirm-your-joint-application' or
        nextIncompleteStep.startsWith('/pay') or
        nextIncompleteStep.startsWith('/application-submitted')
%}
{% set title = titleSubmit if isApplicationReadyToSubmit else titleSoFar %}

{% block backLink %}{% endblock %}

{% block content %}
  {% block error_summary %}
    {% include "common/error/summary.njk" %}
  {% endblock %}

  <h1 class="govuk-heading-xl">{{ title }}</h1>
  <p class='govuk-body'>{{ line1 }}</p>

  {% set connectionsTemplate %}
    {% include "./connections-template.njk" %}
  {% endset %}

  {% set hwfTemplate %}
    {% if userCase.applicant1HelpPayingNeeded %}
      {% set hwfAnswerLn1 = stepAnswers.helpWithFees.line1 %}
      {{ hwfAnswerLn1.needHelp if userCase.applicant1HelpPayingNeeded === 'Yes' else hwfAnswerLn1.noHelpNeeded }}
      {% if isApplicant2 %}
        <details class="govuk-details summary" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">{{ hwfAnswerLn1.hwfMoreDetails.title or hwfAnswerLn1.defaultLink }}</span>
          </summary>
          <div class="govuk-details__text">{{ hwfAnswerLn1.hwfMoreDetails.text }}</div>
        </details>
      {% endif %}
    {% endif %}
  {% endset %}

  {% set otherCourtCasesTemplate %}
    {% if userCase.applicant1LegalProceedings %}
      {% set courtCasesAnswerLn1 = stepAnswers.otherCourtCases.line1 %}
      {{ courtCasesAnswerLn1.applicant1LegalProceedings }}
      {% if isApplicant2 %}
        <details class="govuk-details summary" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">{{ courtCasesAnswerLn1.otherCasesMoreDetails.title or courtCasesAnswerLn1.defaultLink }}</span>
          </summary>
          <div class="govuk-details__text">{{ courtCasesAnswerLn1.otherCasesMoreDetails.text }}</div>
        </details>
      {% endif %}
    {% endif %}
  {% endset %}

  {% for section, title in sectionTitles %}
    {% set answerRows = [] %}
      {% for line, text in stepAnswers[section] %}
        {% if text and text != 'undefined' and text != 'null' %}
          {% if section == 'connectionsToEnglandWales' and line == 'line13' %}
            {% set textValue = connectionsTemplate %}
          {% elseif section == 'helpWithFees' and line == 'line1' %}
            {% set textValue = hwfTemplate %}
          {% elseif section == 'otherCourtCases' and line == 'line1' %}
            {% set textValue = otherCourtCasesTemplate %}
          {% else %}
            {% set textValue = text %}
          {% endif %}
          {% set answerRows = (answerRows.push({
            key: {
              html: stepQuestions[section][line],
              classes: 'govuk-!-width-two-thirds'
            },
            value: {
              text: textValue | safe
            },
            actions: {
              items: [
                {
                  href: applicant2Url + stepLinks[section][line],
                  text: change,
                  visuallyHiddenText: stepQuestions[section][line]
                }
              ]
            }
          }), answerRows) %}
        {% endif %}
      {% endfor %}

    {% if answerRows.length %}
      <h2 class="govuk-heading-m">{{sectionTitles[section]}}</h2>
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: answerRows
      }) }}
    {% endif %}
  {% endfor %}

  {% if isApplicationReadyToSubmit and not isJointApplication %}
    {% block form %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {% include "./form.njk" %}
        </div>
      </div>
    {% endblock %}
  {% elif not isApplicant2 and isApplicationReadyToSubmit and isJointApplication %}
    {% include "./joint-form.njk" %}
  {% else %}
    {{ govukButton({
      text: continueApplication,
      href: nextIncompleteStep,
      preventDoubleClick: true
    }) }}
  {% endif %}

  {% include "common/contact-us.njk" %}
{% endblock %}
