{% extends "common/page.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "common/error/summary.njk" %}
      <h1 class="govuk-heading-l">{{ title }}</h1>

      {% include "./form.njk" %}
      {% include "../../common/contact-us/details.njk" %}
    </div>
  </div>
{% endblock %}
