{% extends "../../applicant1/hub-page/template.njk" %}

{% block soleLatestUpdate %}
  {% if theLatestUpdateTemplate %}
    {% include "./latest-update-content" + theLatestUpdateTemplate %}
  {% endif %}
{% endblock %}
