{% extends "../../applicant1/hub-page/template.njk" %}

{% block soleLatestUpdate %}
  {% if userCase.state == 'FinalOrderRequested' %}
    {% include "../../applicant1/hub-page/sole/latest-update-content/final-order-requested.njk" %}

  {% elif userCase.state == 'AwaitingFinalOrder' or userCase.state == 'FinalOrderOverdue' %}
    {% include "./latest-update-content/awaiting-final-order-or-final-order-overdue.njk" %}

  {% elif userCase.state == 'ConditionalOrderPronounced' %}
    {% include "./latest-update-content/conditional-order-pronounced.njk" %}

  {% elif userCase.state == 'ClarificationSubmitted' %}
    {% include "./latest-update-content/clarification-submitted.njk" %}

  {% elif userCase.state == 'AwaitingLegalAdvisorReferral' or userCase.state == 'AwaitingPronouncement' %}
    {% include "./latest-update-content/awaiting-legal-advisor-referral-or-awaiting-pronouncement.njk" %}

  {% elif currentState.isAtOrBefore('AwaitingConditionalOrder') and not hasSubmittedAos %}
    {% include "./latest-update-content/awaiting-aos.njk" %}

  {% elif userCase.state == 'AwaitingGeneralConsideration' %}
    {% include "./latest-update-content/awaiting-general-consideration.njk" %}

  {% elif userCase.state == 'Holding' %}
    {% include "./latest-update-content/holding.njk" %}

  {% endif %}
{% endblock %}
