{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "../../applicant1/hub-page/template.njk" %}

{% block soleLatestUpdate %}
  {% if progressionIndex == 15 %}
    <p class="govuk-body">{{ conditionalOrderPronounced.line1 }}</p>
    <p class="govuk-inset-text">{{ conditionalOrderPronounced.line2 }}</p>
    <p class="govuk-body">{{ conditionalOrderPronounced.line3 }}</p>
    <p class="govuk-body">{{ conditionalOrderPronounced.line4 }}
      <a class="govuk-link" href={{conditionalOrderPronounced.downloadReference}}
      download="Certificate-of-Entitlement">
      {{conditionalOrderPronounced.line5}}</a>
    </p>
  {% elif progressionIndex == 14 %}
    <p class="govuk-body">{{ awaitingPronouncement.line1 }}</p>
    {% if isCoFieldsSet %}
      <p class="govuk-body">{{ generalAwaitingPronouncement.line2 }}</p>
      {{ govukInsetText({
        text: generalAwaitingPronouncement.line3
      }) }}
      <p class="govuk-body">{{ awaitingPronouncement.line4 }}</p>
      <p class="govuk-body">{{ generalAwaitingPronouncement.line5 }}</p>
    {% endif %}
  {% elif progressionIndex == 13 %}
    <p class="govuk-body">{{ legalAdvisorReferral.line1 }}</p>
    <p class="govuk-body">{{ legalAdvisorReferral.line2 }}</p>
  {% elif progressionIndex == 10 %}
    <p class="govuk-body">{{ d8Submitted.line1 }}</p>
    <p class="govuk-body">{{ d8Submitted.line2 }}</p>
    <h4 class="govuk-heading-s">{{ whatHappensNext }}</h4>
    <p class="govuk-body">{{ d8Submitted.line3 }}</p>
    <p class="govuk-body">{{ d8Submitted.line4 }}</p>
  {% elif progressionIndex == 8 and isDisputedApplication %}
    <p class="govuk-body">{{ d8Awaiting.line1 }}</p>
    <p class="govuk-body">{{ d8Awaiting.line2 | safe }}</p>
    <p class="govuk-body">{{ d8Awaiting.line3 | safe }}</p>
    <p class="govuk-body">{{ d8Awaiting.line4 | safe }}</p>
    <p class="govuk-body">{{ d8Awaiting.line5 | safe }}</p>
    <p class="govuk-body">{{ d8Awaiting.line6 }}</p>
  {% elif progressionIndex == 8 %}
    <p class="govuk-body">{{ holding.line1 }}</p>
    <p class="govuk-body">{{ holding.line2 }}</p>
    <p class="govuk-body">{{ holding.line3 }}</p>
    <p class="govuk-body">{{ holding.line4 }}</p>
    <p class="govuk-body">{{ holding.line5 | safe }}</p>
  {% elif progressionIndex < 8 %}
    {% for property, line in awaitingAos %}
      <p class="govuk-body">{{ line }}</p>
      {{ govukButton({
        text: 'Respond to the application',
        href: '/respondent/review-the-application',
        preventDoubleClick: true
      }) }}
    {% endfor %}
  {% endif %}
{% endblock %}
