{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "common/macros/service-address.njk" import serviceAddressMacro %}

{% extends "common/page.njk" %}

{% block page_content %}
  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title" id="successScreenProcessServerTitle">{{ title }}</h1>
  </div>
  <p class="govuk-body">{{ line1 }}</p>
  <h2 class="govuk-heading-m">{{ whatHappensNextHeader }}</h2>
  <p class="govuk-body">{{ line2 }}</p>
  <p class="govuk-body">{{ line3 }}</p>
  <p class="govuk-body">
    <a class="govuk-link" href="{{ hubUrl.url }}">{{hubUrl.text}}</a>
  </p>
{% endblock %}

{% block form %}
  {% include "./form.njk" %}
{% endblock %}
