{% from "govuk/components/button/macro.njk" import govukButton %}

<form class="form" id="main-form" method="post" action="" novalidate="novalidate">
  <input type="hidden" name="_csrf" id="csrfToken" value="{{ csrfToken }}">
  {% block form_content %}
    {% include "common/form/fields.njk" %}
  {% endblock %}

  {% if displayState.state() == 'Holding' and not hasApplicantConfirmedReceipt %}
    {{ govukButton({
      text: confirmReceipt,
      classes: 'disable-upon-submit',
      type: "submit",
      name: applicantConfirmReceipt,
      value: "Yes",
      preventDoubleClick: true
    }) }}
  {% elif displayState.isAfter('Holding') and displayState.isBefore('AwaitingLegalAdvisorReferral') and not hasApplicantAppliedForConditionalOrder %}
    {{ govukButton({
      text: button.applyForConditionalOrder,
      classes: 'disable-upon-submit',
      type: "submit",
      name: applicantApplyForConditionalOrderStarted,
      value: "Yes"
    }) }}
  {% endif %}
 </form>
