{% if userCase.state == 'Holding' and hasApplicantConfirmedReceipt %}
  {% for property, line in applicantConfirmedReceiptLatestUpdate %}
    <p class="govuk-body">{{ line }}</p>
  {% endfor %}
{% elif userCase.state == 'Holding' %}
  {% for property, line in applicationSubmittedLatestUpdate %}
    <p class="govuk-body">{{ line }}</p>
  {% endfor %}
{% elif progressionIndex.indexOf(userCase.state) > progressionIndex.indexOf('Holding') and
  progressionIndex.indexOf(userCase.state) < progressionIndex.indexOf('AwaitingLegalAdvisorReferral') and
  hasApplicantNotYetAppliedForConditionalOrder %}
    <p class="govuk-body">{{ applicantNotYetAppliedForConditionalOrder }}</p>
{% endif %}
{% block form %}
  {% include "./form.njk" %}
{% endblock %}
