{% macro documentDeleteButton(index, csrfToken, deleteLabel) %}
  <button
    type="submit"
    form="document-delete-form"
    formaction="/document-manager/delete/{{ index }}"
    class="hmcts-button-link govuk-link--no-visited-state">
    {{ deleteLabel }}
  </button>
{% endmacro %}
