{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "common/page.njk" %}

{% block backLink %}{% endblock %}

{% block content %}
  {% block error_summary %}
    {% include "common/error/summary.njk" %}
  {% endblock %}

  <h1 class="govuk-heading-xl">{{ title }}</h1>
  <p class="govuk-body">{{ line1 }}</p>

  {% for section, title in sectionTitles %}
    {% set answerRows = [] %}
      {% for line, text in stepAnswers[section] %}
        {% if text and text != 'undefined' and text != 'null' %}
          {% set answerRows = (answerRows.push({
            key: {
              html: stepQuestions[section][line],
              classes: 'govuk-!-width-two-thirds'
            },
            value: {
              html: text | safe
            }
          }), answerRows) %}
        {% endif %}
      {% endfor %}

    {% if answerRows.length %}
      <h2 class="govuk-heading-m">{{sectionTitles[section]}}</h2>
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: answerRows
      }) }}
    {% endif %}
  {% endfor %}

  {% block form %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {% include "common/form/form.njk"%}
        </div>
      </div>
  {% endblock %}

  {% include "common/contact-us.njk" %}
{% endblock %}
