{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "src/main/steps/applicant1/check-your-answers/more-details.njk" import jurisdictionConnectionsDetails %}
{% from "src/main/steps/applicant1/check-your-answers/more-details.njk" import hwfMoreDetails %}
{% from "src/main/steps/applicant1/check-your-answers/more-details.njk" import otherCourtCasesMoreDetails %}

{% extends "common/page.njk" %}

{% block backLink %}{% endblock %}

{% block content %}
  {% block error_summary %}
    {% include "common/error/summary.njk" %}
  {% endblock %}

  <h1 class="govuk-heading-xl">{{ title }}</h1>
  <p class="govuk-body">{{ line1 }}</p>

  {% for section, title in sectionTitles %}
    {% set answerRows = [] %}
      {% for line, text in stepAnswers[section] %}
        {% if text and text != 'undefined' and text != 'null' %}

          {% if section == 'connectionsToEnglandWales' and line == 'line13' %}
            {% set textValue = jurisdictionConnectionsDetails(stepAnswers.connectionsToEnglandWales.line13, userCase.connections) %}

          {% elseif section == 'helpWithFees' and line == 'line1' %}
            {% set textValue = hwfMoreDetails(stepAnswers.helpWithFees.line1, userCase.applicant1HelpPayingNeeded) %}

          {% elseif section == 'otherCourtCases' and line == 'line1' %}
            {% set textValue = otherCourtCasesMoreDetails(stepAnswers.otherCourtCases.line1, userCase.applicant1LegalProceedings, isApplicant2) %}

          {% else %}
            {% set textValue = text %}
          {% endif %}

          {% set answerRows = (answerRows.push({
            key: {
              html: stepQuestions[section][line],
              classes: 'govuk-!-width-two-thirds'
            },
            value: {
              html: textValue | safe
            }
          }), answerRows) %}
        {% endif %}
      {% endfor %}

    {% if answerRows.length %}
      <h2 class="govuk-heading-m">{{sectionTitles[section]}}</h2>
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: answerRows
      }) }}
    {% endif %}
  {% endfor %}

  {% block form %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {% include "common/form/form.njk"%}
        </div>
      </div>
  {% endblock %}

  {% include "common/contact-us.njk" %}
{% endblock %}
