{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% for fieldName, field in form.fields %}
  {% set labelClasses %}{% if field.labelSize !== null %}govuk-label--{{ field.labelSize if field.labelSize else "m" }}{% endif %}{% endset %}

  {% switch field.type %}
    {% case 'radios' %}
      {{ govukRadios({
          classes: field.classes,
          idPrefix: fieldName,
          name: fieldName,
          fieldset: {
            legend: {
              text: getContent(field.label),
              classes: "govuk-visually-hidden" if field.labelHidden else "govuk-fieldset__legend--m"
            }
          },
          items: formItems(field.values, formState[fieldName]),
          errorMessage: getError(fieldName)
        }) }}
    {% case 'checkboxes' %}
      {% for checkbox in field.values %}
        {# Required for sending an empty value when the checkbox has not been checked #}
        <input type="hidden" value="" name="{{ checkbox.name }}">
      {% endfor %}

      {% set legendClasses %}govuk-fieldset__legend--{% if field.labelSize %}{{ field.labelSize }}{% else %}s{% endif %}{% endset %}
      {{ govukCheckboxes({
        classes: field.classes,
        idPrefix: fieldName,
        name: fieldName,
        fieldset: null if field.labelHidden else {
          legend: {
            text: getContent(field.label),
            classes: legendClasses
          }
        },
        hint: {
          html: getContent(field.hint)
        },
        items: formItems(field.values, formState),
        errorMessage: getError(fieldName)
      }) }}
    {% case 'option' %}
      {{ govukSelect({
        id: fieldName,
        name: fieldName,
        label: {
          text: getContent(field.label)
        },
        items: formItems(field.values, formState[fieldName]),
        errorMessage: getError(fieldName)
      }) }}
    {% case 'date' %}
      {{ govukDateInput({
        id: fieldName,
        namePrefix: fieldName,
        fieldset: {
          legend: {
            text: getContent(field.label),
            classes: "govuk-visually-hidden" if field.labelHidden else "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: hint
        },
        items: formItems(field.values, formState[fieldName]),
        errorMessage: getError(fieldName)
      }) }}
    {% case 'textarea' %}
      {{ govukTextarea({
        name: fieldName,
        id: fieldName,
        label: {
          text: getContent(field.label),
          classes: "govuk-visually-hidden" if field.labelHidden else labelClasses
        },
        hint: {
          html: getContent(field.hint)
        },
        value: formState[fieldName],
        rows: field.attributes.rows,
        attributes: field.attributes,
        errorMessage: getError(fieldName)
      }) }}
    {% default %}
      {{ govukInput({
        id: fieldName,
        name: fieldName,
        type: field.type,
        classes: field.classes,
        label: {
          text: getContent(field.label),
          classes: "govuk-visually-hidden" if field.labelHidden else labelClasses
        },
        hint: {
          html: getContent(field.hint)
        },
        value: field.value if field.value !== undefined else formState[fieldName],
        attributes: field.attributes,
        errorMessage: getError(fieldName)
      }) }}
  {% endswitch %}
{% endfor %}
