{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "common/macros/service-address.njk" import serviceAddressMacro %}

{% extends "common/page.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-l" id="optionsForProgressingTitle">{{ title }}</h1>
  {% if contactDetailsProvided %}
    <p class="govuk-body">{{ detailsProvided }}</p>

    {% set contactDetailsRows = [] %}
    {% set contactDetailsRows = (contactDetailsRows.push({
      key: {
        html: "Home address",
        classes: ''
      },
      value: {
        text: applicant2Address | safe
      }
    }), contactDetailsRows) %}
    {% set contactDetailsRows = (contactDetailsRows.push({
        key: {
          html: "Email address",
          classes: ''
        },
        value: {
          text: applicant2Email | safe
        }
      }), contactDetailsRows) %}

    {{ govukSummaryList({
      classes: 'govuk-!-margin-bottom-7',
      rows: contactDetailsRows
    }) }}
  {% else %}
    <p class="govuk-body">{{ noDetailsProvided }}</p>
  {% endif %}

{% endblock %}

{% block form %}
  {% include "./form.njk" %}
{% endblock %}
