{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "common/macros/service-address.njk" import serviceAddressMacro %}

{% extends "common/page.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-l" id="emailDescriptionTitle">{{ title }}</h1>
  <p class="govuk-body">{{ partnerEmailAddressesDescription }}</p>
{% endblock %}

{% block form %}
  {% include "./form.njk" %}
{% endblock %}
