# exclude all by default

*

# exceptions from `exclude all` rule

!package.json
!yarn.lock

!tsconfig.json

!webpack
!webpack/**

!src
src/*
!src/main
!src/main/**

!config
!config/**

!webpack.config.js
!version
!.yarnrc.yml
!.yarn
.yarn/cache
!.yarn/releases
!.yarn/releases/**
!.tsconfig.eslint.json

# development-only files inside the application allowlist
src/main/**/*.test.ts
src/main/**/*.test.js
src/main/test
**/.DS_Store
