{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "common/macros/service-address.njk" import serviceAddressMacro %}

{% extends "common/page.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-l" id="applyForHwfTitle">{{ title }}</h1>
  <p class="govuk-body">{{ line1 }}</p>
  <h1 class="govuk-heading-m">{{ nextSteps }}</h1>
  <ul class="govuk-list govuk-list--number">
    <li>{{ steps.applyHwf | safe }}</li>
    <li>{{ steps.enterCode }}</li>
    <li>{{ steps.completeHwf }}</li>
    <li>{{ steps.returnCode }}</li>
    <li>{{ steps.enterHwfRefNo }}</li>
  </ul>
{% endblock %}
