{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "common/page.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% block page_content %}
        <h1 class="govuk-heading-l">{{ title }}</h1>
        <p class="govuk-body">{{ line1 }}</p>
        {{ govukWarningText({
          text: line2,
          iconFallbackText: "Warning"
        }) }}
        <p class="govuk-body">{{ line3 }}</p>
        {{ govukDetails({
          summaryText: anotherEmailAddress,
          html: anotherEmailAddressContent
        }) }}
        {{ govukDetails({
          summaryText: emailButNotPostal,
          html: emailButNotPostalContent
        }) }}
        {{ govukDetails({
          summaryText: needToSearchForAddress,
          html: needToSearchForAddressContent
        }) }}
        {{ govukDetails({
          summaryText: thinkPartnerChoosingNotToRespond,
          html: thinkPartnerChoosingNotToRespondContent
        }) }}
        {{ govukDetails({
          summaryText: evidencePartnerNotResponded,
          html: evidencePartnerNotRespondedContent
        }) }}
        {{ govukDetails({
          summaryText: triedEveryWayToDeliver,
          html: triedEveryWayToDeliverContent
        }) }}
      {% endblock %}
    </div>

      <div class="govuk-grid-column-one-third">
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--additional">
      <h2 class="govuk-heading-s">{{ iWantTo }}</h2>

      <p class="govuk-body">{{ downloadLink | safe }}</p>
      <p class="govuk-body">{{ reviewContactDetails | safe }}</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-s">{{ gettingHelp }}</h3>
      <p class="govuk-body">{{ telephone | safe }}</p>
      <p class="govuk-body">{{ email | safe }}</p>
      <p class="govuk-body">{{ post | safe}}</p>
    </div>
  </div>
{% endblock %}

{% block contact_us %}{% endblock %}
