{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "components/hmcts-progress-bar/macro.njk" import hmctsProgressBar %}
{% from "common/macros/service-address.njk" import serviceAddressMacro %}

{% extends "common/page.njk" %}

{% block backLink %}{% endblock %}

{% block page_content %}
  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">{{ title }}</h1>
    <div class="govuk-body">
      {{ yourReferenceNumber }}
      <div class="govuk-panel__body">
        <strong>{{ referenceNumber }}</strong>
      </div>
    </div>
  </div>
  <br/>
  {% if userCase.applicant1CannotUpload or userCase.applicant2CannotUpload or userCase.iWantToHavePapersServedAnotherWay %}
    <h2 class="govuk-heading-l">{{ subHeading1 }}</h2>
    <p class="govuk-body">{{ line1 }}</p>
    {% if userCase.applicant1CannotUpload or userCase.applicant2CannotUpload %}
      <h3 class="govuk-heading-m">{{ subHeading2 }}</h3>
      <p class="govuk-body">{{ line2 }}</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for document in cannotUploadDocuments %}
          <li>{{ documents[document] }}</li>
        {% endfor %}
      </ul>

      {% set sendingDocumentsByEmail %}
        <ol class="govuk-list govuk-list--number">
          {% for property, step in documentsByEmailSteps %}
            {% if loop.last %}
              <li>{{ step }}<a class="govuk-link" href="mailto:{{ contactEmail }}">{{ contactEmail }}</a></li>
            {% else %}
              <li>{{ step }}</li>
            {% endif %}
          {% endfor %}
        </ol>
      {% endset %}
      {{ govukDetails({
        summaryText: documentsByEmail,
        html: sendingDocumentsByEmail
      }) }}

      {% set sendingDocumentsByPost %}
        <ol class="govuk-list govuk-list--number">
          {% for property, step in documentsByPostSteps %}
            <li>{{ step }}</li>
          {% endfor %}
        </ol>
        {{ serviceAddressMacro(serviceAddress) }}
        <p class="govuk-body">{{ documentsByPostMoreDetails }}</p>
      {% endset %}
      {{ govukDetails({
        summaryText: documentsByPost,
        html: sendingDocumentsByPost
      }) }}
    {% endif %}
    {% if userCase.iWantToHavePapersServedAnotherWay %}
      <h3 class="govuk-heading-m">{{ subHeading3 }}</h3>
      <p class="govuk-body">{{ line3.p1 }}</p>
      <p class="govuk-body">{{ line3.p2 }}</p>
      <p class="govuk-body"><a class="govuk-link" href={{ line4.link }}>{{ line4.part1 }}</a></p>
    {% endif %}
  {% else %}
    <h2 class="govuk-heading-l">{{ subHeading4 }}</h2>
    {% if not userCase.iWantToHavePapersServedAnotherWay %}
      <p class="govuk-body">{{ line5 }}</p>
    {% endif %}
    {% if not isJointApplication %}
      {% if hasASolicitorContactForPartner %}
        <p class="govuk-body">{{ line7 }}</p>
      {% elif not isRespondentRepresented %}
        <p class="govuk-body">{{ line6 }}</p>
      {% endif %}
      {% if applicationServedAnotherWay %}
        <p class="govuk-body">{{ line8 }}</p>
        <p class="govuk-body">{{ line9 }}</p>
      {% endif %}
      {% if isRespondentOverseas %}
        <p class="govuk-body">{{ line10 }}</p>
        <p class="govuk-body">{{ line11 }}</p>
      {% endif %}
    {% endif %}
  {% endif %}
  <h3 class="govuk-heading-m">{{ subHeading5 }}</h3>
  <p class="govuk-body">{{ line12.part1 }}<a class="govuk-link" href={{ line12.link }}>{{ line12.part2 }}</a></p>
  <p class="govuk-body">{{ line13.part1 }}<a class="govuk-link" href={{ line13.link }}>{{ line13.part2 }}</a></p>
  <p class="govuk-body">{{ line14.part1 }}<a class="govuk-link" href={{ line14.link }}>{{ line14.part2 }}</a></p>
  <p class="govuk-body">{{ line15.part1 }}<a class="govuk-link" href={{ line15.link }}>{{ line15.part2 }}</a></p>
  <h3 class="govuk-heading-m">{{ subHeading7 }}</h3>
  <p class="govuk-body">{{ line17.part1|safe}}</p>
  <h3 class="govuk-heading-m">{{ subHeading6 }}</h3>
  <p class="govuk-body">{{ line16.part1 }}<a class="govuk-link" href={{ line16.link }}>{{ line16.linkText }}</a></p>
  <h3 class="govuk-heading-m">{{ webChat }}</h3>
    {% include "webchat/link-to-webchat.njk" %}
  <h3 class="govuk-heading-m">{{ sendUsAMessage }}</h3>
  <p class="govuk-body"><a class="govuk-link" href="{{ contactWebForm }}">{{ useOurOnlineForm }}</a></p>
  <h3 class="govuk-heading-m">{{ telephone }}</h3>
  <p class="govuk-body">{{ telephoneNumber }}</p>
  <p class="govuk-body">{{ openingTimes }}</p>
  <p class="govuk-body"><a class="govuk-link" href={{ telephoneCharges.link }}>{{ telephoneCharges.part1 }}</a></p>
  <p class="govuk-body">{{ domesticAbuse.part1 }}<a class="govuk-link" href={{ domesticAbuse.link }}>{{ domesticAbuse.part2 }}</a></p>

  <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__content">
      <p class="govuk-notification-banner__heading">{{ feedback }}</p>
      <p class="govuk-body">{{ feedbackLine1 }}</p>
      <p class="govuk-body"><a class="govuk-link" href={{ feedbackLine2.link }}>{{ feedbackLine2.part1 }}</a></p>
    </div>
  </div>
{% endblock %}

{% block contact_us %}{% endblock %}
