{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "common/macros/service-address.njk" import serviceAddressMacro %}

{% extends "common/form/form.njk"%}

{% block form_content %}

  {% for fieldName, field in form.fields %}
    {% if fieldName == 'applicant1GenAppPartnerAgreesUploadedFiles'%}
      <p class="govuk-body">
        <strong>{{ acceptedFileFormats }}</strong> {{ fileFormats }}<br>
        <strong>{{ maximumFileSize }}</strong> {{ fileSize }}
      </p>

      <h2 id="uploadAFile" class="govuk-heading-s">{{ uploadAFile }}</h2>
      {% include "common/form/fields/" + field.type + ".njk" %}

      {% include "./document-upload.njk" %}
    {% else %}
      {% include "common/form/fields/" + field.type + ".njk" %}
    {% endif %}
  {% endfor %}

{% endblock %}
