{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends "common/page.njk" %}

{% block page_content %}
  {{ govukErrorSummary({
    titleText: errorSummaryHeading,
    classes: "hidden",
    attributes: {
      id: "uploadErrorSummary"
    },
    errorList: [
      {
        text: errors.applicant1GenAppPartnerAgreesUploadedFiles.errorUploading,
        href: "#upload",
        attributes: {
          id: "errorGeneric",
          class: "hidden"
        }
      },
      {
        text: errors.applicant1GenAppPartnerAgreesUploadedFiles.fileSizeTooBig,
        href: "#upload",
        attributes: {
          id: "errorFileSizeTooBig",
          class: "hidden"
        }
      },
      {
        text: errors.applicant1GenAppPartnerAgreesUploadedFiles.fileWrongFormat,
        href: "#upload",
        attributes: {
          id: "errorFileWrongFormat",
          class: "hidden"
        }
      }
    ]
  }) }}

  <h1 class="govuk-heading-l" id="uploadPartnerAgreesEvidenceTitle">{{ title }}</h1>
  <p class="govuk-body">{{ line1 }}</p>
  <p class="govuk-body">{{ line2 }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ evidenceList.line1 }}</li>
    <li>{{ evidenceList.line2 }}</li>
  </ul>
  <p class="govuk-body">{{ evidenceReminder }}</p>
  <ul class="govuk-list govuk-list--bullet">
      <li>{{ toInclude.partnersName }}</li>
      <li>{{ toInclude.dateSent }}</li>
      <li>{{ toInclude.partnersContactInfo }}</li>
    </ul>
  <p class="govuk-body">{{ line3 | safe }}</p>
  <p class="govuk-body">{{ line4 }}</p>
  <p class="govuk-body">{{ line5 }}</p>
  <p class="govuk-body">{{ line6 }}</p>
{% endblock %}

{% block form %}
  {% include "./form.njk" %}
{% endblock %}
