{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "common/page.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <p class="govuk-body">{{ line1 }}</p>
  <h3 class="govuk-heading-m">{{ subHeading1 }}</h3>
  <p class="govuk-body">{{ line2 }}</p>
  {% if isApplicant1FinancialOrderYes %}
    <p class="govuk-body">{{ applicant1FinancialOrderYes }}</p>
    {% endif %}
  {% if isApplicant2FinancialOrderYes %}
    <p class="govuk-body">{{ applicant2FinancialOrderYes }}</p>
  {% endif %}

  <dl>
    <dt class="govuk-heading-s">{{ caseReferenceHeading }}</dt>
    <dd class="govuk-body">{{ caseReferenceValue }}</dd>
    <dt class="govuk-heading-s">{{ line4 }}</dt>
    <dd class="govuk-body">{{ line5 }}</dd>
    <dt class="govuk-heading-s">{{ line6 }}</dt>
    <dd class="govuk-body">{{ line7 }}</dd>
  </dl>

  <h3 class="govuk-heading-m">{{ subHeading2 }}</h3>
  <p class="govuk-body">{{ line8 }}</p>

  <dl>
    <dt class="govuk-heading-s">{{ line9 }}</dt>
    <dd class="govuk-body">{{ line10 }}</dd>
    {% if isCeremonyPlace %}
      <dt class="govuk-heading-s">{{ line11 }}</dt>
      <dd class="govuk-body">{{ line12 }}</dd>
    {% endif %}
    <dt class="govuk-heading-s">{{ line13 }}</dt>
    <dd class="govuk-body">{{ line14 }}</dd>
  </dl>

  <h3 class="govuk-heading-m">{{ subHeading3 }}</h3>
  <p class="govuk-body">{{ line15 }}</p>
  <ul class="govuk-list govuk-list--bullet">
    {% for line in connectionBulletPoints %}
      <li>{{ line | safe }}</li>
    {% endfor %}
  </ul>
  {{ govukDetails({
    summaryHtml: whatThisMeansJurisdiction,
    html: jurisdictionsMoreDetails
  }) }}

  <h3 class="govuk-heading-m">{{ subHeading4 }}</h3>
  <p class="govuk-body">{{ line16 }}</p>
  <p class="govuk-body">{{ line17 | safe }}</p>

  <h3 class="govuk-heading-m">{{ subHeading5 }}</h3>
  <p class="govuk-body">{{ line18 }}</p>

  <h3 class="govuk-heading-m">{{ subHeading6 }}</h3>
  {% if isApplicant1FinancialOrderYes %}
    <p class="govuk-body">{{ applicant1FinancialOrderYes }}</p>
  {% endif %}
  {% if isApplicant2FinancialOrderYes %}
    <p class="govuk-body">{{ applicant2FinancialOrderYes }}</p>
  {% endif %}
  {% if not isApplicant1FinancialOrderYes and not isApplicant2FinancialOrderYes %}
    <p class="govuk-body">{{ financialOrderNo }}</p>
  {% endif %}
  {{ govukDetails({
    summaryHtml: whatThisMeansFinancialOrder,
    html: financialOrderMoreDetails
  }) }}

  {% if isApplicant1AddressNotPrivate %}
    <h3 class="govuk-heading-m">{{ subHeading7 }}</h3>
    <p class="govuk-body">{{ applicantAddressCountry | safe }}</p>
    <h3 class="govuk-heading-m">{{ subHeading8 }}</h3>
    <p class="govuk-body">{{ line19 }}</p>
  {% endif %}

  {% if isApplicant2AddressNotPrivate %}
    <h3 class="govuk-heading-m">{{ subHeading9 }}</h3>
    <p class="govuk-body">{{ respondentAddressCountry | safe }}</p>
    <h3 class="govuk-heading-m">{{ subHeading10 }}</h3>
    <p class="govuk-body">{{ line20 }}</p>
  {% endif %}
  <h3 class="govuk-heading-m">{{ confirm }}</h3>
{% endblock %}

{% block form %}
  {% include "../check-your-answers/form.njk" %}
{% endblock %}
