{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "common/page.njk" %}

{% block content %}
  {% set nextIncompleteStepUrl = getNextIncompleteStepUrl() %}
  {% set isLastStep = nextIncompleteStepUrl === pagePath %}

  <h1 class="govuk-heading-xl">{{ title }} {{soFar if not isLastStep}}</h1>

  {% for key, section in sections %}
    {% set rows = getAnswerRows(section) %}
    {% if rows | length %}
      <h2 class="govuk-heading-m">{{ sectionTitles[section] }}</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: rows
      }) }}
    {% endif %}
  {% endfor %}

  {{ govukButton({
    text: continuePay if isLastStep else continueApplication,
    href: nextIncompleteStepUrl,
    preventDoubleClick: true
  }) }}
{% endblock %}
