{% for reason in awaitingClarification.coRefusalClarificationReasons %}
  {% set heading = reason + "ReasonHeading" %}
  {% set body = reason + "ReasonBody" %}

  <h4 class="govuk-heading-s">{{ awaitingClarification[heading] }}</h4>

  {% if awaitingClarification[body] is mapping %}
    {% set anchoredBody = anchorBody(awaitingClarification[body]) %}
    <p class="govuk-body">{{ anchoredBody }}</p>
  {% else %}
    <p class="govuk-body">{{ awaitingClarification[body] }}</p>
  {% endif %}
{% endfor %}

{% if awaitingClarification.coRefusalClarificationAdditionalInfo %}
  <h4 class="govuk-heading-s">{{ awaitingClarification.courtsComments }}</h4>
  <p class="govuk-body">{{ awaitingClarification.coRefusalClarificationAdditionalInfo }}</p>
{% endif %}
