{% from "common/anchor-body.njk" import anchorBody %}

{% for reason in courtFeedback.coRefusalClarificationReasons %}
  {% set heading = reason + "ReasonHeading" %}
  {% set body = reason + "ReasonBody" %}

  <h4 class="govuk-heading-s">{{ courtFeedback[heading] }}</h4>

  {% if courtFeedback[body] is mapping %}
    {% set anchoredBody = anchorBody(courtFeedback[body]) %}
    <p class="govuk-body">{{ anchoredBody }}</p>
  {% else %}
    <p class="govuk-body">{{ courtFeedback[body] }}</p>
  {% endif %}
{% endfor %}

{% if courtFeedback.coRefusalClarificationAdditionalInfo %}
  <h4 class="govuk-heading-s">{{ courtFeedback.courtsComments }}</h4>
  <p class="govuk-body">{{ courtFeedback.coRefusalClarificationAdditionalInfo }}</p>
{% endif %}
