{% from "common/macros/download-link.njk" import downloadLink %}

{% for reason in latestRefusalClarificationReasons %}
  {% set heading = reason + "ReasonHeading" %}
  {% set body = reason + "ReasonBody" %}

  <h4 class="govuk-heading-s">{{ courtFeedback[heading] }}</h4>

  {% if courtFeedback[body] is mapping %}
    {% set anchoredBody = downloadLink(courtFeedback[body]) %}
    <p class="govuk-body">{{ anchoredBody }}</p>
  {% else %}
    <p class="govuk-body">{{ courtFeedback[body] }}</p>
  {% endif %}
{% endfor %}

{% if latestRefusalClarificationAdditionalInfo %}
  <h4 class="govuk-heading-s">{{ courtFeedback.courtsCommentsShortHeading if condensedHeading else courtFeedback.courtsCommentsLongHeading }}</h4>
  <p class="govuk-body">{{ latestRefusalClarificationAdditionalInfo }}</p>
{% endif %}
