{% extends "../../applicant1/check-your-answers/form.njk"%}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block after_fields %}
  <div class="govuk-body">{{ confirmationExplanation }}</div>
  {{ govukWarningText({
    text: confirmApplicationIsTrueWarning,
    iconFallbackText: "Warning"
  }) }}
{% endblock %}
