{% extends "../../applicant1/check-your-answers/template.njk" %}

{% block submission %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "../../applicant1/check-your-answers/form.njk" %}
    </div>
  </div>
{% endblock %}
