{% from "govuk/components/details/macro.njk" import govukDetails %}
{% extends "common/page.njk" %}

{% set whatThisMeansContent1 %}
  <p class="govuk-body">{{ whatThisMeansInfo1 }}</p>
  <p class="govuk-body">{{ whatThisMeansInfo2 }}</p>
{% endset %}

{% set whatThisMeansContent2 %}
  <p class="govuk-body">{{ whatThisMeansInfo3 }}</p>

  <h3 class="govuk-heading-m">{{ habitualResidenceHeading }}</h3>
  <p class="govuk-body">{{ habitualResidenceText | safe }}</p>

  <h3 class="govuk-heading-m">{{ domicileHeading }}</h3>
  <p class="govuk-body">{{ domicileText | safe }}</p>

  <h3 class="govuk-heading-m">{{ residualJurisdictionHeading }}</h3>
  <p class="govuk-body">{{ residualJurisdictionText | safe }}</p>
{% endset %}

{% set whatThisMeansContent3 %}
  <p class="govuk-body">{{ financialOrderMoreInfoLine1 }}</p>
  <p class="govuk-body">{{ financialOrderMoreInfoLine2 }}</p>
  <p class="govuk-body">{{ financialOrderMoreInfoLine3 }}</p>
  <p class="govuk-body">{{ financialOrderMoreInfoLine4 }}</p>
{% endset %}

{% block page_content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <p class="govuk-body">{{ subtitle }}</p>

  <h2 class="govuk-heading-m">{{ heading1 }}</h2>
  <p class="govuk-body">{{ line1 }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ listItem1 }}</li>
    {% if userCase.applicant1ApplyForFinancialOrder === 'Yes' %}
      <li>{{ listItem2 }}</li>
    {% endif %}
  </ul>
  <dl>
    <dt class="govuk-heading-s">{{ caseReferenceHeading }}</dt>
    <dd class="govuk-body">{{ caseReferenceValue }}</dd>
    <dt class="govuk-heading-s">{{ issuedDateHeading }}</dt>
    <dd class="govuk-body">{{ issuedDateValue }}</dd>
    <dt class="govuk-heading-s">{{ applicantHeading }}</dt>
    <dd class="govuk-body">{{ applicantNames }}</dd>
    <dt class="govuk-heading-s">{{ respondentHeading }}</dt>
    <dd class="govuk-body">{{ respondentNames }}</dd>
  </dl>

  {{ govukDetails({
      summaryHtml: whatThisMeansApplicantRespondent,
      html: whatThisMeansContent1
  }) }}

  <h2 class="govuk-heading-m">{{ heading2 }}</h2>
  <p class="govuk-body">{{ line2 }}</p>

  <dl>
    <dt class="govuk-heading-s">{{ heading3 }}</dt>
    <dd class="govuk-body">{{ line3 }}</dd>
    <dt class="govuk-heading-s">{{ heading4 }}</dt>
    <dd class="govuk-body">{{ ceremonyPlace }}</dd>
    <dt class="govuk-heading-s">{{ ceremonyCountryHeading }}</dt>
    <dd class="govuk-body">{{ ceremonyCountry }}</dd>
    <dt class="govuk-heading-s">{{ heading5 }}</dt>
    <dd class="govuk-body">{{ relationshipDate }}</dd>
  </dl>

  <h2 class="govuk-heading-m">{{ heading6 }}</h2>
  <p class="govuk-body">{{ line4 }}</p>
  <ul class="govuk-list govuk-list--bullet">
    {% for line in connectionBulletPoints %}
      <li>{{ line | safe }}</li>
    {% endfor %}
  </ul>

  {{ govukDetails({
      summaryHtml: whatThisMeansJurisdiction,
      html: whatThisMeansContent2
  }) }}

  <h2 class="govuk-heading-m">{{ heading10 }}</h2>
  <p class="govuk-body">{{ otherCourtCasesLine1 }}</p>
  {% if userCase.applicant1LegalProceedings === 'Yes' %}
    <p class="govuk-body">{{ otherCourtCasesLine2 }}</p>
    <p class="govuk-body">{{ applicantLegalProceedingsDetails }}</p>
  {% else %}
    <p class="govuk-body">{{ noOtherCourtCases }}</p>
  {% endif %}

  <h2 class="govuk-heading-m">{{ heading11 }}</h2>
  <p class="govuk-body">{{ line5 }}</p>

  <h2 class="govuk-heading-m">{{ heading12 }}</h2>
  {% if userCase.applicant1ApplyForFinancialOrder === 'Yes' %}
    <p class="govuk-body">{{ financialOrderLine1 }}</p>
  {% else %}
    <p class="govuk-body">{{ noFinancialOrder }}</p>
  {% endif %}

  {{ govukDetails({
      summaryHtml: whatThisMeansFinancialOrder,
      html: whatThisMeansContent3
  }) }}

  <h2 class="govuk-heading-m">{{ heading13 }}</h2>
  <p class="govuk-body">{{ factsTrue }}</p>
  <p class="govuk-body"><i>{{ userCase.applicant1FirstNames }} {{ userCase.applicant1LastNames }}</i></p>
  <br>
  <br>

{% endblock %}

{% block form %}
  {% include "./form.njk" %}
{% endblock %}
