@use 'govuk-frontend' as *;
@use "sass:map";

.govuk-service-navigation {
  margin-bottom: 0;

  &__container {
    flex-direction: row;
  }

  &__list {
    display: flex;
    flex-wrap: none;
    margin-bottom: 0;
    justify-content: flex-end;
  }

  @media (max-width: map-get($govuk-breakpoints, tablet)) {
    &__item:first-child {
      margin: 10px 0 !important;
    }
  }
}
