@import '~govuk-frontend';

@import './banner';
@import './header';
@import './contact-us';
@import './upload-documents';

.hmcts-button-link,
.uppy-FileInput-btn {
  @extend %govuk-body-m;
  @extend %govuk-link;
  @include govuk-link-style-default;

  background: none;
  color: $govuk-link-colour;
  border: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
}

section {
  margin-bottom: 2em;
}
