@use 'govuk-frontend' as *;

@use './banner';
@use './header';
@use './contact-us';
@use './upload-documents';
@use './application-submitted';
@use './hub-page';
@use './cookie-banner';
@use './check-your-answers';
@use './genesys-webchat';
@use './review-pages';
@use './timeout-modal';
@use './progress-bar';

.hmcts-button-link,
.uppy-FileInput-btn {
  @extend %govuk-body-m;
  @extend %govuk-link;
  @include govuk-link-style-default;

  background: none;
  color: $govuk-link-colour;
  border: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
}

section {
  margin-bottom: 2em;
}

.hidden {
  display: none;
}

.pdf-canvas {
  border: 1px solid black;
  direction: ltr;
}

.govuk-panel--confirmation {
  background-color: #00703C; }

.govuk-panel--outstanding {
  background-color: #F3F2F1;
  text-align: left;
  padding: 20px;
}

.govuk-panel--blue {
  background-color: #0072ce;
  color: white;
}
