.hmcts-progress-bar-vertical {
  margin: 40px 0;
}

.hmcts-progress-bar__icon {
  position: relative;
  background-color: govuk-colour('white');
  border: 4px solid govuk-colour('mid-grey');
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  height: 44px;
  margin: 0 auto;
  width: 44px;

  &--complete {
    background-color: govuk-colour('blue');
    border: 4px solid govuk-colour('blue');
    background-image: url('/img/icon-progress-tick.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 23px;
  }

  &--active {
    background-color: govuk-colour('blue');
    border: 4px solid govuk-colour('blue');
    font-weight: 700;
  }
}

.hmcts-progress-bar__label {
  @include govuk-font(16);
  word-wrap: normal;
  display: block;
  font-weight: inherit;
  margin-top: 10px;
  position: relative;
}

.hmcts-progress-bar__list {
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: justify;
  vertical-align: top;

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
  }

  &::before {
    border-top: 4px solid govuk-colour('mid-grey');
    content: "";
    left: 30px;
    position: absolute;
    top: 20px;
    bottom: 0;
    width: 90%;
  }
}

.hmcts-progress-bar__list-item {
  @include govuk-font(19);
  display: inline-block;
  max-width: 20%;
  position: relative;
  text-align: center;
  vertical-align: top;
  width:100px;

  &:first-child, &:last-child {
    &::before {
      border-top: 6px solid govuk-colour("white");
      content: "";
      position: absolute;
      top: 13px; left: 0;
      width: 50%;
    }
  }

  &:first-child::before {
    left: 0;
  }

  &:last-child::before {
    left: auto;
    right: 0;
  }
}

@media screen and (max-width: map-get($govuk-breakpoints, desktop)) {
  .hmcts-progress-bar-vertical {
    margin: 21px 0;

    .hmcts-progress-bar {
      &__list-item {
        max-width:45px; display:block; margin-top: 10px;
        margin-top: 19px;
      }

      &__icon {
        height: 37px;
        width: 37px;

        &--complete {
          background-size: 19px;
        }
      }

      &__list::before {
        border-top:none;
        position:absolute;
        top: 0px;
        border-left: 6px solid govuk-colour('mid-grey');
        height: 100%;
        position:absolute;
        left:20px;
        top:0;
      }

      &__label {
        margin-top:-29px;
        margin-left:50px;
        width:350px;
        text-align:left;
        font-size: 1.1rem;
      }
    }
  }
}
