<h2 class="govuk-heading-m">{{ genesys.contactUs }}</h2>
<p class="govuk-body"><strong class="govuk-!-font-weight-bold">{{ genesys.webchat }}</strong><br>
  {{ genesys.onlineAdviceClosed }}<span id="genesysWebchatClosedReason"></span>.
</p>
<p class="govuk-body"><strong class="govuk-!-font-weight-bold">{{ genesys.sendUsAMessage }}</strong><br>
  <a href="#" class="govuk-link">{{ genesys.sendUsAMessage }}</a></p>
<p class="govuk-body"><strong class="govuk-!-font-weight-bold">{{ genesys.telephone }}</strong><br>
  {{ genesys.phoneNumber}}
</p>
<p class="govuk-body"><strong class="govuk-!-font-weight-bold">{{ genesys.openingTimes }}</strong><br>
  {{ genesys.openingHours | safe }}
</p>
