<h2 class="govuk-heading-m">{{ genesys.webchatEnglandAndWales }}</h2>
<p class="govuk-body">{{ genesys.getHelp }}</p>
<p class="govuk-body">
  <a href="#" class="govuk-link" id="startChatLink">{{ genesys.startWebchat }}</a>
</p>

<h2 class="govuk-heading-m">{{ genesys.webchatScotland }}</h2>
<p class="govuk-body">{{ genesys.getHelp }}</p>
<p class="govuk-body govuk-!-font-weight-bold">{{ genesys.closedForTheDay }}</p>
<p class="govuk-body">{{ genesys.openHoursScotland }}</p>

<h2 class="govuk-heading-m">{{ telephone }}</h2>
<p class="govuk-body">{{ genesys.phoneAgent }}</p>
<p class="govuk-body"><strong class="govuk-!-font-weight-bold">{{ telephoneNumber }}</strong></p>
