{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "common/macros/service-address.njk" import serviceAddressMacro %}

{% extends "common/page.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-l" id="applicationCostTitle">{{ title }}</h1>
  {% if showNoConsentContent %}
    <p class="govuk-body">{{ noConsent.line1 | safe }}</p>
  {% else %}
    <p class="govuk-body">{{ consentOrConsentNotRequired.line1 | safe }}</p>
    <p class="govuk-body">{{ consentOrConsentNotRequired.line2 }}</p>
  {% endif %}
{% endblock %}

{% block form %}
  {% include "./form.njk" %}
{% endblock %}
