<div id="timeout-modal-container" class="modal" hidden>
  <div #outerContainer id="modal" class="modal-content govuk-width-container clearfix" cdkTrapFocus tabindex="0">
    <p>hello modal world</p>

    <div class="button-container">
      <button id="timeout-modal-close-button" class="govuk-button">Close</button>
    </div>
  </div>
</div>
