<div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      The Help with Fees online service is temporarily unavailable.
    </h2>
    <p class="govuk-body">You can get help with a court or tribunal fee by downloading and filling in <a class="govuk-link" href="https://www.gov.uk/government/publications/apply-for-help-with-court-and-tribunal-fees">form EX160</a>.</p>
    <p class="govuk-body">You can either wait until the service is available again and then make your Divorce application alternatively you can fill in the paper D8 application along with the paper EX160 and send this to the address on the form.</p>
  </div>
</div>
