{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% extends "govuk/template.njk" %}

{% block head %}
  {% include "./webpack/css.njk" %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    containerClasses: "govuk-width-container",
    serviceName: pageHeader[serviceType],
    serviceUrl: (globals.basePath if globals.basePath) + "/",
    navigation: [
      {
        href: "/logout" if isLoggedIn else "/login",
        text: signOut if isLoggedIn else signIn
      }
    ]
  }) }}
{% endblock %}

{% block pageTitle %}
  {{ pageHeader[serviceType] }} - {{ title }} - {{ govUk }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: phase
    },
    html: feedback + languageToggle
  }) }}
  {% if not hideBackButton %}
    <a href="#" class="govuk-back-link">{{ back }}</a>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% block error_summary %}
        {% include "common/error/summary.njk" %}
      {% endblock %}

      {% block page_content %}{% endblock %}

      {% if form %}
        {% include "common/form/form.njk"%}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "/terms-and-conditions",
          text: termsAndConditions
        },
        {
          href: "/cookies",
          text: cookies
        },
        {
          href: "/accessibility-statement",
          text: accessibility
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "./webpack/js.njk" %}
{% endblock %}
