{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% extends "govuk/template.njk" %}

{% block head %}
  {% include "./webpack/css.njk" %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    containerClasses: "govuk-width-container",
    serviceName: getContent(serviceName),
    serviceUrl: (globals.basePath if globals.basePath) + "/"
  }) }}
{% endblock %}

{% block pageTitle %}
  {{ getContent(pageTitle) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: phase
    },
    html: feedback + languageToggle
  })
  }}
  <a href="#" class="govuk-back-link">{{ back }}</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% block error_summary %}
        {% include "common/error/summary.njk" %}
      {% endblock %}

      {% block page_content %}{% endblock %}

      {% if form %}
        <form class="form" id="main-form" method="post" action="" novalidate>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">
          {% block form_content %}
            {% for fieldName, field in form.fields %}
              {% if field.type === 'radios' %}
                {{ govukRadios({
                  classes: field.classes,
                  idPrefix: fieldName,
                  name: fieldName,
                  fieldset: {
                    legend: {
                      text: getContent(field.label),
                      classes: "govuk-fieldset__legend--l"
                    }
                  },
                  items: formItems(field.values)
                }) }}
              {% elif field.type === 'option' %}
                {{ govukSelect({
                  id: fieldName,
                  name: fieldName,
                  label: {
                    text: getContent(field.label)
                  },
                  items: formItems(field.values)
                }) }}
              {% else %}
                {{ govukInput({
                  label: {
                    text: getContent(field.label),
                    classes: "govuk-label--l " + field.classes
                  },
                  id: fieldName,
                  name: fieldName
                }) }}
              {% endif %}
            {% endfor %}
          {% endblock %}

          <div class="govuk-form-group">
            {{ govukButton({ text: getContent(form.submit.text), preventDoubleClick: true }) }}
          </div>
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}


{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "./webpack/js.njk" %}
{% endblock %}
