{% extends "common/page.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>
  {% if not isApplicant2EmailUpdatePossibleAnswer %}
    <p class="govuk-body">{{ line1 }}</p>
  {% endif %}
  <div class="govuk-inset-text">
    {{ line2 }}
  </div>
{% endblock %}

{% block form %}
  {% if isApplicant2EmailUpdatePossibleAnswer %}
    {% include "./form.njk" %}
  {% else %}
    {% include "common/form/form.njk" %}
  {% endif %}
{% endblock %}
