{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "common/page.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <p class="govuk-body">{{ line1 }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ line2 }}</li>
  </ul>
  {% set summary %}
    <p>{{ helpText1 | safe }}</p>
    <p>{{ helpText2 }}</p>
    <p>{{ helpText3 }}</p>
    <p>{{ helpText4 }}</p>
    <p>{{ helpText5 | safe }}</p>
    <p>{{ helpText6 | safe }}</p>
    <p>{{ helpText7 }}</p>
    <p>{{ helpText8 }}</p>
  {% endset %}
  {{ govukDetails({
    summaryText: readMore,
    html: summary
  }) }}
{% endblock %}
