{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "common/macros/service-address.njk" import serviceAddressMacro %}

{% if hasGenAppSaveAndSignOutContent %}
  <h2 class="govuk-heading-m">{{ generalApplication.heading }}</h2>
  <p class="govuk-body">{{ generalApplication.line1 }}</p>

  {% set generalApplicationUpdate %}
    {% if awaitingDocuments and not hasPaymentInProgress %}
      <p class="govuk-body">{{ generalApplicationSubmitted.sendDocumentsLine1 }}</p>

      {% set sendingDocumentsByOnlineForm %}
        <p class="govuk-body">{{ generalApplicationSubmitted.documentsByOnlineFormSteps.line1 }} <a href="{{ contactWebForm }}" target="_blank">{{ documentsByOnlineFormSteps.line2}}</a> </p>
        <p class="govuk-body">{{ generalApplicationSubmitted.documentsByOnlineFormSteps.line3 }}</p>
      {% endset %}
      {{ govukDetails({
        summaryText: generalApplicationSubmitted.documentsByOnlineForm,
        html: sendingDocumentsByOnlineForm
      }) }}

      {% set sendingDocumentsByPost %}
        <ol class="govuk-list govuk-list--number">
        {% for property, step in generalApplicationSubmitted.documentsByPostSteps %}
          <li>{{ step }}</li>
        {% endfor %}
        </ol>
        {{ serviceAddressMacro(serviceAddress) }}
        <p class="govuk-body">{{ generalApplicationSubmitted.documentsByPostMoreDetails }}</p>
      {% endset %}
      {{ govukDetails({
          summaryText: generalApplicationSubmitted.documentsByPost,
          html: sendingDocumentsByPost
      }) }}
      <h3 class="govuk-heading-s">{{ generalApplicationSubmitted.happensNextHeading }}</h3>
      <p class="govuk-body">{{ generalApplicationSubmitted.happensNextLine1 }}</p>
      <p class="govuk-body">{{ generalApplicationSubmitted.happensNextLine2 }}</p>
      <p class="govuk-body">{{ generalApplicationSubmitted.happensNextLine3 }}</p>

    {% else %}
      <p class="govuk-body">{{ generalApplication.line2 }}</p>
      <p class="govuk-body">{{ generalApplication.line3 }}</p>
      <p class="govuk-body">{{ generalApplication.line4 }}</p>
      {{ govukButton({
        text: generalApplication.continueLinkText,
        href: generalApplication.continueLinkUrl,
        preventDoubleClick: true
      }) }}
      <br />
      {{ govukButton({
        text: generalApplication.withdrawLinkText,
        href: generalApplication.withdrawLinkUrl,
        preventDoubleClick: true,
        classes: 'govuk-button govuk-button--warning'
      }) }}
    {% endif %}
  {% endset %}

  {{ govukDetails({
    summaryText: generalApplication.continuingTheApplication,
    html: generalApplicationUpdate
  }) }}
{% endif %}