{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends "common/page.njk" %}

{% block page_content %}
  {{ govukErrorSummary({
    titleText: errorSummaryHeading,
    classes: "hidden",
    attributes: {
      id: "uploadErrorSummary"
    },
    errorList: [
      {
        text: errors.applicant1DispenseNoTraceCertificate.errorUploading,
        href: "#upload",
        attributes: {
          id: "errorGeneric",
          class: "hidden"
        }
      },
      {
        text: errors.applicant1DispenseNoTraceCertificate.fileSizeTooBig,
        href: "#upload",
        attributes: {
          id: "errorFileSizeTooBig",
          class: "hidden"
        }
      },
      {
        text: errors.applicant1DispenseNoTraceCertificate.fileWrongFormat,
        href: "#upload",
        attributes: {
          id: "errorFileWrongFormat",
          class: "hidden"
        }
      }
    ]
  }) }}

  <h1 class="govuk-heading-l" id="uploadEvidenceDispenseTitle">{{ title }}</h1>

{% endblock %}

{% block form %}
  {% include "../../common/upload-evidence/form.njk" %}
{% endblock %}
