{% extends "../../common/upload-evidence/template.njk" %}

{% block statement %}
  <p class="govuk-body">{{ statement.header }}</p>
  <ul class="govuk-list govuk-list--bullet">
    {% if daSearch %}<li>{{ statement.options.daSearch }}</li>{% endif %}
    {% if haveEmail %}<li>{{ statement.options.haveEmail }}</li>{% endif %}
    {% if havePhone %}<li>{{ statement.options.havePhone }}</li>{% endif %}
    {% if triedTracingAgent %}<li>{{ statement.options.triedTracingAgent }}</li>{% endif %}
    {% if tracedOnline %}<li>{{ statement.options.tracedOnline }}</li>{% endif %}
    {% if usedOnlineSearch %}<li>{{ statement.options.usedOnlineSearch }}</li>{% endif %}
    {% if contactedEmployer %}<li>{{ statement.options.contactedEmployer }}</li>{% endif %}
    {% if otherEnquiries %}<li>{{ statement.options.otherEnquiries }}</li>{% endif %}
  </ul>
{% endblock %}
