{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% extends "common/page.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  {{ govukInsetText({
    text: line1
  }) }}
  <p class="govuk-body">{{ line2 }}</p>
  <p class="govuk-body">{{ coAdditionalInfo }}</p>
  <h4 class="govuk-heading-s">{{ subheading1 }}</h4>
{% endblock %}

{% block form %}
  {% include "./form.njk" %}
{% endblock %}
