{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{% extends "common/page.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% block error_summary %}
        {% include "common/error/summary.njk" %}
        {{ govukErrorSummary({
          titleText: errorSummaryHeading,
          classes: "hidden",
          attributes: {
            id: "uploadErrorSummary"
          },
          errorList: [
            {
              text: errors.coClarificationUploadedFiles.errorUploading,
              href: "#upload",
              attributes: {
              id: "errorGeneric",
              class: "hidden"
            }
            },
            {
              text: errors.coClarificationUploadedFiles.fileSizeTooBig,
              href: "#upload",
              attributes: {
              id: "errorFileSizeTooBig",
              class: "hidden"
            }
            },
            {
              text: errors.coClarificationUploadedFiles.fileWrongFormat,
              href: "#upload",
              attributes: {
              id: "errorFileWrongFormat",
              class: "hidden"
            }
            }
          ]
        }) }}
      {% endblock %}

      <h1 class="govuk-heading-l">{{ title }}</h1>
      {{ govukInsetText({
        text: line1
      }) }}
      <p class="govuk-body">{{ line2 }}</p>
      <p class="govuk-body">"{{ coAdditionalInfo }}"</p>
      <h4 class="govuk-heading-s">{{ subheading1 }}</h4>
      {% block form %}
        <form class="form" id="main-form" method="post" action="" novalidate="novalidate">
          <input type="hidden" name="_csrf" id="csrfToken" value="{{ csrfToken }}">
          {% set textArea %}
            {% set fieldName = 'coClarificationResponses' %}
            {% set field = form.fields[fieldName] %}
            {% include "common/form/fields/" + field.type + ".njk" %}
          {% endset %}
          {{ textArea | safe }}
          <h4 class="govuk-heading-s">{{ uploadTitle }}</h4>
          <p class="govuk-body">{{ line5 }}</p>
          {{ govukWarningText({
            text: warningPhoto,
            iconFallbackText: "Warning"
          }) }}
          {% set infoTakePhotoDetails %}
            <ol class="govuk-list govuk-list--number">
              <li>{{ infoBullet1 }}</li>
              <li>{{ infoBullet2 }}</li>
              <li>{{ infoBullet3 }}</li>
              <li>{{ infoBullet4 }}</li>
              <li>{{ infoBullet5 }}</li>
            </ol>
          {% endset %}
          {{ govukDetails({
            summaryText: infoTakePhoto,
            html: infoTakePhotoDetails
          }) }}
          <p class="govuk-body">{{ minRequirements }}</p>

          <script id="uploadContent" type="application/json">
          {
            "isClarificationAmendableState": {{ isClarificationAmendableState }},
            "delete": "{{ delete }}"
          }
          </script>

          <div id="uploadGroup" tabindex="0" class="uploadGroup">
            <h2 class="govuk-heading-s">{{ uploadFiles }}</h2>
            <p class="govuk-body govuk-section-break govuk-section-break--visible govuk-!-padding-bottom-3{% if userCase.coClarificationUploadDocuments|length %} hidden{% endif %}" id="noFilesUploaded">{{ noFilesUploaded }}</p>
            <ul id="filesUploaded" class="govuk-list">
              {% for file in userCase.coClarificationUploadDocuments %}
                <li class="uploadedFile govuk-!-padding-top-2 govuk-!-padding-bottom-3 govuk-section-break govuk-section-break--visible">
                  {{ file.value.documentFileName }} <a href="/document-manager/delete/{{ loop.index0 }}?_csrf={{ csrfToken }}" class="govuk-link--no-visited-state">{{ delete }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>

          <p class="govuk-body">
            <strong>{{ acceptedFileFormats }}</strong> {{ fileFormats }}<br>
            <strong>{{ maximumFileSize }}</strong> {{ fileSize }}
          </p>

          <div class="govuk-form-group {{ 'hidden' if not isClarificationAmendableState }}">
            <div class="govuk-panel upload hidden">
              <span class="upload-arrow-icon govuk-!-margin-bottom-5"></span>
              <div class="govuk-form-group">
                <p class="govuk-body govuk-!-margin-bottom-0">
                  <span id="upload"></span>
                  <strong>{{ orStr }}</strong><br>
                  {{ dragDropHere }}
                </p>
                <div id="uploadProgressBar"></div>
              </div>
            </div>

            <noscript>
              <form action="/document-manager?_csrf={{ csrfToken }}" method="post" enctype="multipart/form-data">
                {{ govukFileUpload({
                  name: "files[]",
                  attributes: {
                    multiple: true,
                    accept: "image/jpeg,image/tiff,image/png,application/pdf"
                  },
                  label: {
                    text: chooseFilePhoto
                  },
                  classes: "govuk-!-margin-bottom-4"
                }) }}
                {{ govukButton({
                  text: upload,
                  type: "submit",
                  classes: "govuk-button--secondary govuk-!-margin-bottom-0"
                }) }}
              </form>
            </noscript>
          </div>

          {% set hiddenUpload %}
            {% set fieldName = 'coClarificationUploadedFiles' %}
            {% set field = form.fields[fieldName] %}
            {% include "common/form/fields/" + field.type + ".njk" %}
          {% endset %}
          {{ hiddenUpload | safe }}

          {% set checkbox %}
            {% set fieldName = 'coCannotUploadClarificationDocuments' %}
            {% set field = form.fields[fieldName] %}
            {% include "common/form/fields/" + field.type + ".njk" %}
          {% endset %}
          {{ checkbox | safe }}

          <div class="govuk-form-group">
            {{ govukButton({
              text: getContent(form.submit.text),
              classes: form.submit.classes,
              type: "submit",
              preventDoubleClick: true,
              attributes: {
                id: 'main-form-submit'
              }
            }) }}

            <p class="govuk-body">
              <button class="hmcts-button-link" type="submit" name="saveAndSignOut" value="true" data-prevent-double-click="true" data-module="govuk-button" />
              {{ saveAndSignOut }}
              </button>
            </p>
          </div>
        </form>
      {% endblock %}
    </div>
  </div>
{% endblock %}
