{% from "common/macros/service-address.njk" import serviceAddressMacro %}

<p class="govuk-body">{{ reviewContactDetails | safe }}</p>
<p class="govuk-body">{{ hubPageDownloads | safe }}</p>
{% if featureFlags.NFD_GenAppsReleased %}
  {% if not caseHasBeenIssued %}
    <p class="govuk-body">{{ preIssueMakeAnApplication | safe }}</p>
  {% endif %}
{% endif %}
<p class="govuk-body">{{ withdrawApplication | safe }}</p>
