{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "common/page.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <pre>
{{ formState | json(2) }}
  </pre>

  {{ govukButton({
    text: pay,
    preventDoubleClick: true
  }) }}
{% endblock %}
