{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "common/page.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <h2 class="govuk-heading-m">{{ aboutPartnership}}</h2>

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: yourDetails
        },
        value: {
          text: yourDetailsAnswer | title
        },
        actions: {
          items: [
            {
              href: "/your-details",
              text: change,
              visuallyHiddenText: yourDetailsA11y
            }
          ]
        }
      }
    ]
  }) }}

  <pre>
{{ formState | json(2) }}
  </pre>

  {{ govukButton({
    text: pay,
    preventDoubleClick: true
  }) }}
{% endblock %}
