{% extends "common/page.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <p class="govuk-body">{{ line1 }}</p>
  <h3 class="govuk-heading-m">{{ subHeading1 }}</h3>
  <p class="govuk-body">{{ line2 }}</p>
  <h3 class="govuk-heading-m">{{ subHeading2 }}</h3>
  <p class="govuk-body">{{ line3 }}</p>
  <h3 class="govuk-heading-m">{{ subHeading3 }}</h3>
  <p class="govuk-body">{{ line4 }}</p>
  <h3 class="govuk-heading-m">{{ subHeading4 }}</h3>
  <p class="govuk-body">{{ line5 }}</p>
  {% if hasNotAgreedToJurisdiction %}
    <p class="govuk-body">{{ countryLifeMainlyBased }}</p>
  {% endif %}
  <h3 class="govuk-heading-m">{{ subHeading5 }}</h3>
  <p class="govuk-body">{{ line6 }}</p>
  <h3 class="govuk-heading-m">{{ subHeading6 }}</h3>
  <p class="govuk-body">{{ line7 }}</p>
  <p class="govuk-body">{{ line8 }}</p>
{% endblock %}
