{% extends "common/page.njk" %}
s
{% block backLink %}{% endblock %}

{% block page_content %}
  <h1 class="govuk-heading-l">{{ heading }}</h1>
  <p class="govuk-body">{{ line1 }}</p>
  <p class="govuk-body">{{ line2 }} <a class="govuk-link" rel="external noopener" target="_blank" href="{{ domesticAbuseLink }}">{{ citizenAdvice }}</a>.</p>
{% endblock %}
