{% from "govuk/components/button/macro.njk" import govukButton %}

{% for property, line in awaitingAos %}
  <p class="govuk-body">{{ line }}</p>
  {{ govukButton({
    text: respondToTheApplication,
    href: '/respondent/review-the-application',
    preventDoubleClick: true
  }) }}
{% endfor %}
