{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% if userCase.state == 'AwaitingPronouncement' and isCoFieldsSet %}
  <p class="govuk-body">{{ awaitingPronouncement.line1 }}</p>
  <p class="govuk-body">{{ generalAwaitingPronouncement.line2 }}</p>
  {{ govukInsetText({
    text: generalAwaitingPronouncement.line3
  }) }}
  <p class="govuk-body">{{ awaitingPronouncement.line4 }}</p>
  <p class="govuk-body">{{ generalAwaitingPronouncement.line5 | safe }}</p>

{% elif userCase.state == 'AwaitingLegalAdvisorReferral' or userCase.state == 'AwaitingPronouncement' and not isCoFieldsSet %}
  <p class="govuk-body">{{ legalAdvisorReferral.line1 }}</p>
  <p class="govuk-body">{{ legalAdvisorReferral.line2 }}</p>
{% endif %}
