{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% if displayState.state() == 'AwaitingPronouncement' and isCoFieldsSet %}
  <p class="govuk-body">{{ awaitingPronouncement.line1 }}</p>
  <p class="govuk-body">{{ awaitingPronouncement.line2 }}</p>
  {{ govukInsetText({
    text: awaitingPronouncement.line3
  }) }}
  <p class="govuk-body">{{ awaitingPronouncement.line4 }}</p>
  <p class="govuk-body">{{ certificateOfEntitlementLine.part1 }}
    <a class="govuk-link" href={{ certificateOfEntitlementLine.link }}
    download={{ certificateOfEntitlementLine.downloadReference }}>
      {{ certificateOfEntitlementLine.part2 }}</a>
    {{ certificateOfEntitlementLine.part3 }}
  </p>

{% elif (displayState.state() == 'AwaitingLegalAdvisorReferral' or displayState.state() == 'AwaitingPronouncement' or displayState.state() == 'LAReview' or displayState.state() == 'ConditionalOrderReview' and not isCoFieldsSet) or displayState.state() == 'AwaitingAmendedApplication' %}
  <p class="govuk-body">{{ legalAdvisorReferral.line1 }}</p>
  <p class="govuk-body">{{ legalAdvisorReferral.line2 }}</p>
{% endif %}
