<p class="govuk-body">{{ conditionalOrderPronounced.line1 }}</p>
<p class="govuk-inset-text">{{ conditionalOrderPronounced.line2 }}</p>
<p class="govuk-body">{{ conditionalOrderPronounced.line3 }}</p>
<p class="govuk-body">{{ conditionalOrderPronounced.line4.part1 }}
  <a class="govuk-link" href={{ conditionalOrderPronounced.line4.link }}
  download={{ conditionalOrderPronounced.line4.downloadReference }}>
  {{ conditionalOrderPronounced.line4.part2 }}</a>
</p>
