{% if hasApplicant2AppliedForFinalOrderFirst %}
    {% if applicant2FoHelpPayingNeeded and applicant2FoHasHwfRef %}
        <p class="govuk-body">{{ finalOrderRequested.line2hwf }}</p>
    {% else %}
        <p class="govuk-body">{{ finalOrderRequested.line2 }}</p>
    {% endif %}
{% else %}
    <p class="govuk-body">{{ finalOrderRequested.line1 }}</p>
{% endif %}
<p class="govuk-body">{{ finalOrderRequested.line3 }}</p>