{% if hasApplicant2AppliedForFinalOrderFirst %}
    <p class="govuk-body">{{ finalOrderRequested.line2 }}</p>
    <p class="govuk-body">{{ finalOrderRequested.line3 }}</p>
{% else %}
    <p class="govuk-body">{{ finalOrderRequested.line1 }}</p>
{% endif %}