{% from "common/macros/service-address.njk" import serviceAddressMacro %}

{% if isDisputedApplication %}
  <p class="govuk-body">{{ d8Awaiting.line1 }}</p>
  <p class="govuk-body">{{ d8Awaiting.line2 | safe }}</p>
  <p class="govuk-body">{{ d8Awaiting.line3 | safe }}</p>
  <p class="govuk-body">{{ d8Awaiting.line4 }}</p>
  {{ serviceAddressMacro(serviceAddress) }}
  <p class="govuk-body">{{ d8Awaiting.line5 | safe }}</p>
  <p class="govuk-body">{{ d8Awaiting.line6 }}</p>
{% else %}
  <p class="govuk-body">{{ holding.line1 }}</p>
  <p class="govuk-body">{{ holding.line2 }}</p>
  <p class="govuk-body">{{ holding.line3 }}</p>
  <p class="govuk-body">{{ holding.line4 }}</p>
  <p class="govuk-body">{{ holding.line5 | safe }}</p>
{% endif %}
