{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "common/macros/service-address.njk" import serviceAddressMacro %}

{% extends "common/page.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-l" id="preIssueMakeAnApplicationTitle">{{ title }}</h1>
  <p class="govuk-body">{{ subheading }}</p>
    <h2 class="govuk-heading-m">{{ withdraw.header }}</p>
    <p class="govuk-body">
    {% if caseHasBeenIssued %}
      {{ withdraw.postIssueText }}
    {% else %}
      {% if isJointApplication %}
        {{ withdraw.preIssueTextJoint | safe }}
      {% else %}
        {{ withdraw.preIssueTextSole | safe }}
      {% endif %}
    {% endif %}
  </p>
  {% if caseHasBeenIssued %}
    <h2 class="govuk-heading-m">{{ stay.header }}</h1>
    <p class="govuk-body">{{ stay.infoHeader }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ stay.options.otherProceedings }}</li>
        <li>{{ stay.options.reconcile }}</li>
        <li>{{ stay.options.otherReason }}</li>
      </ul>
    {% if isRespondent %}
      <p class="govuk-body">{{ stay.additionalRespondentContent }}</p>
    {% endif %}
  {% endif %}
  {% if isSoleApplicant %}
    <h2 class="govuk-heading-m">{{ extend.header }}</h1>
    <p class="govuk-body">{{ extend.content }}</p>
  {% endif %}
  {% if not caseHasBeenIssued %}
    <h2 class="govuk-heading-m">{{ applyWithoutMarriageCertificate.header }}</h1>
    <p class="govuk-body">{{ applyWithoutMarriageCertificate.content }}</p>
  {% endif %}
  <h2 class="govuk-heading-m">{{ expedite.header }}</p>
  <p class="govuk-body">{{ expedite.content }}</p>
  {% if not isRespondent %}
    <h1 class="govuk-heading-m">{{ amend.header }}</p>
    {% if hasCOBeenGranted %}
      <p class="govuk-body">{{ amend.postCO }}</p>
    {% else %}
      <p class="govuk-body">{{ amend.preCO.line1 }}</p>
      <p class="govuk-body">{{ amend.preCO.line2 }}</p>
      {% if isJointApplication %}
        <p class="govuk-body">{{ amend.preCO.line3joint }}</p>
      {% else %}
        <p class="govuk-body">{{ amend.preCO.line3sole }}</p>
      {% endif %}
      <p class="govuk-body">{{ amend.preCO.line4 }}</p>
    {% endif %}
  {% endif %}
  <h2 class="govuk-heading-m">{{ other.header }}</p>
  <p class="govuk-body">{{ other.content }}</p>

  {% if isAwaitingPronouncement and not isRespondent %}
    <h2 class="govuk-heading-m">{{ caseIsAwaitingPronouncement.header }}</p>
    <p class="govuk-body">{{ caseIsAwaitingPronouncement.line1 }}</p>
    <p class="govuk-body">{{ caseIsAwaitingPronouncement.line2 }}</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>{{ caseIsAwaitingPronouncement.bullet1 }}</li>
      <li>{{ caseIsAwaitingPronouncement.bullet2 }}</li>
    </ul>
    <p class="govuk-body">{{ caseIsAwaitingPronouncement.line3 }}</p>
    <p class="govuk-body">{{ caseIsAwaitingPronouncement.line4 }}</p>
  {% endif %}

  {% if isRespondent %}
    <h2 class="govuk-heading-m">{{ consideringYourFinancialPosition.header }}</p>
    <p class="govuk-body">{{ consideringYourFinancialPosition.line1 }}</p>
    <p class="govuk-body">{{ consideringYourFinancialPosition.line2 }}</p>
    <p class="govuk-body">{{ consideringYourFinancialPosition.line3 | safe }}</p>
    <p class="govuk-body">{{ consideringYourFinancialPosition.line4 }}</p>
  {% endif %}
{% endblock %}
