{% from "components/hmcts-progress-bar/macro.njk" import hmctsProgressBar %}

{% if isJointApplication %}
  {% set items = [{
    label: {
      text: applicationSubmitted
    },
    complete: true,
    active: false
  }, {
    label: {
      text: conditionalOrderApplication
    },
    complete: progressionIndex.indexOf(userCase.state) > progressionIndex.indexOf('AwaitingLegalAdvisorReferral'),
    active: hasApplicantConfirmedReceipt
  }, {
    label: {
      text: conditionalOrderGranted
    },
    complete: progressionIndex.indexOf(userCase.state) > progressionIndex.indexOf('AwaitingPronouncement'),
    active: userCase.state == 'ConditionalOrderPronounced'
  }, {
    label: {
      text: finalOrderApplication
    },
    complete: progressionIndex.indexOf(userCase.state) > progressionIndex.indexOf('FinalOrderRequested'),
    active: userCase.state == 'AwaitingFinalOrder'
  }, {
    label: {
      text: applicationEnded
    },
    complete: progressionIndex.indexOf(userCase.state) > progressionIndex.indexOf('FinalOrderRequested'),
    active: userCase.state == 'FinalOrderComplete'
  }] %}
{% else %}
  {% set items = [{
    label: {
      text: applicationSubmitted
    },
    complete: true,
    active: false
  }, {
    label: {
      text: response
    },
    complete: progressionIndex.indexOf(userCase.state) > progressionIndex.indexOf('IssuedToBailiff'),
    active: progressionIndex.indexOf(userCase.state) >= progressionIndex.indexOf('AwaitingAos') and
      progressionIndex.indexOf(userCase.state) < progressionIndex.indexOf('Holding')
  }, {
    label: {
      text: conditionalOrderApplication
    },
    complete: progressionIndex.indexOf(userCase.state) > progressionIndex.indexOf('AwaitingGeneralConsideration'),
    active: userCase.state == 'AwaitingConditionalOrder' or hasApplicantConfirmedReceipt
  }, {
    label: {
      text: conditionalOrderGranted
    },
    complete: progressionIndex.indexOf(userCase.state) > progressionIndex.indexOf('ConditionalOrderPending'),
    active: userCase.state == 'ConditionalOrderDrafted'
  }, {
    label: {
      text: finalOrderApplication
    },
    complete: progressionIndex.indexOf(userCase.state) > progressionIndex.indexOf('ConditionalOrderPronounced'),
    active: userCase.state == 'AwaitingPronouncement'
  }, {
    label: {
      text: applicationEnded
    },
    complete: progressionIndex.indexOf(userCase.state) >= progressionIndex.indexOf('AwaitingFinalOrder'),
    active: userCase.state == 'AwaitingFinalOrder'
  }] %}
{% endif %}

{{ hmctsProgressBar({
  classes: 'hub-progress-bar',
  items: items
}) }}
