{% from "components/hmcts-progress-bar/macro.njk" import hmctsProgressBar %}

{% if isJointApplication %}
  {% set items = [{
    label: {
      text: applicationSubmitted
    },
    complete: true,
    active: false
  }, {
    label: {
      text: conditionalOrderApplication
    },
    complete: states.get(userCase.state).isAfter('AwaitingLegalAdvisorReferral'),
    active: hasApplicantConfirmedReceipt
  }, {
    label: {
      text: conditionalOrderGranted
    },
    complete: states.get(userCase.state).isSameOrAfter('ConditionalOrderPronounced'),
    active: userCase.state == 'AwaitingPronouncement'
  }, {
    label: {
      text: finalOrderApplication
    },
    complete: states.get(userCase.state).isAfter('FinalOrderRequested'),
    active: userCase.state == 'AwaitingFinalOrder'
  }, {
    label: {
      text: applicationEnded
    },
    complete: userCase.state == 'FinalOrderComplete',
    active: userCase.state == 'FinalOrderRequested'
  }] %}
{% else %}
  {% set items = [{
    label: {
      text: applicationSubmitted
    },
    complete: true,
    active: false
  }, {
    label: {
      text: response
    },
    complete: states.get(userCase.state).isAfter('IssuedToBailiff'),
    active: states.get(userCase.state).isBetween('AwaitingAos') and states.get(userCase.state).isBefore('Holding')
  }, {
    label: {
      text: conditionalOrderApplication
    },
    complete: states.get(userCase.state).isAfter('AwaitingGeneralConsideration'),
    active: userCase.state == 'AwaitingConditionalOrder' or hasApplicantConfirmedReceipt
  }, {
    label: {
      text: conditionalOrderGranted
    },
    complete: states.get(userCase.state).isAfter('AwaitingPronouncement'),
    active: userCase.state == 'ConditionalOrderDrafted'
  }, {
    label: {
      text: finalOrderApplication
    },
    complete: states.get(userCase.state).isAfter('FinalOrderPending'),
    active:  states.get(userCase.state).isSameOrAfter('AwaitingFinalOrder') and states.get(userCase.state).isBefore('FinalOrderComplete')
  }, {
    label: {
      text: applicationEnded
    },
    complete: userCase.state == 'FinalOrderComplete'
  }] %}
{% endif %}

{{ hmctsProgressBar({
  classes: 'hub-progress-bar',
  items: items
}) }}
