{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "components/hmcts-progress-bar/macro.njk" import hmctsProgressBar %}

{% extends "common/page.njk" %}

{% block content %}

  {% block backLink %}{% endblock %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ title }}</h1>

        <div class="govuk-body">
          {{ referenceNumber | safe }}
        </div>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-section-break--thinner">
        <div class="govuk-!-padding-bottom-8"></div>

        {{ hmctsProgressBar({
          items: [{
            label: {
              text: applicationSubmitted
            },
            complete: true,
            active: true
            }, {
              label: {
                text: conditionalOrderApplication
              },
              complete: progressionIndex > 1,
              active: progressionIndex == 1
            }, {
              label: {
                text: conditionalOrderGranted
              },
              complete: progressionIndex > 2,
              active: progressionIndex == 2
            }, {
              label: {
                text: finalOrderApplication
              },
              complete: progressionIndex >= 3,
              active: progressionIndex == 3
            }, {
              label: {
                text: applicationEnded
              },
              complete: progressionIndex >= 4,
              active: progressionIndex == 4
            }]
            }) }}

        <div class="govuk-!-padding-bottom-2"></div>

        <h2 class="govuk-heading-m"> {{ subHeading1 | safe }}</h2>
        <div class="govuk-panel govuk-panel--outstanding">

          <p class="govuk-body">  {{ line1 }} </p>
          <p class="govuk-body"> {{ line2 }} </p>

          {% block confirm_receipt %}
            <form action="" method="post" novalidate>
              <input type="hidden" name="_csrf" value="{{ csrfToken }}">
              <button type="submit" class="govuk-button" name="applicant1ConfirmReceipt" value="Yes" >
                {{ confirmReceipt }}
              </button>
            </form>
          {% endblock %}

          <h3 class="govuk-heading-s">{{ subHeading2 | safe }}</h3>
          <p class="govuk-body">{{ line3 | safe }}</p>

        </div>
      </div>

      <div class="govuk-grid-column-one-third">
        <div class="govuk-!-padding-bottom-9"></div>
        <div class="govuk-!-padding-bottom-6"></div>
        <div class="govuk-!-padding-bottom-1"></div>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-section-break--additional">
        <h2 class="govuk-heading-s">{{ subHeading3 | safe }}</h2>

        <p class="govuk-body">{{ line4 | safe }}</p>
        <p class="govuk-body">{{ line5 | safe }}</p>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h3 class="govuk-heading-s">{{ subHeading4 }}</h3>
        <p class="govuk-body">{{ telephone | safe }}</p>
        <p class="govuk-body">{{ email | safe }}</p>
        <p class="govuk-body">{{ post | safe}}</p>
      </div>

    </div>
  </div>

  {% block contact_us %}{% endblock %}

</div>

{% endblock %}
