{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "common/page.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <p class="govuk-body">{{ line1 }}</p>
  <p class="govuk-body">{{ line2 }}</p>
  <ul class="govuk-list govuk-list--bullet">
    {% for line in connectionBulletPoints %}
      <li>{{ line | safe }}</li>
    {% endfor %}
  </ul>
  {% set whatThisMeansContent2 %}
    <h3 class="govuk-heading-m">{{ heading1 }}</h3>
    <p class="govuk-body">{{ habitualResidenceText | safe }}</p>

    <h3 class="govuk-heading-m">{{ heading2 }}</h3>
    <p class="govuk-body">{{ domicileText | safe }}</p>

    <h3 class="govuk-heading-m">{{ heading3 }}</h3>
    <p class="govuk-body">{{ residualJurisdictionLine1 }}</p>
    <p class="govuk-body">{{ residualJurisdictionLine2 }}</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>{{ residualJurisdictionListItem1 }}</li>
      <li>{{ residualJurisdictionListItem2 }}</li>
      <li>{{ residualJurisdictionListItem3 }}</li>
    </ul>
    <p class="govuk-body">{{ residualJurisdictionLine3 }}</p>
  {% endset %}
  {{ govukDetails({
    summaryHtml: whatThisMeansJurisdiction,
    html: whatThisMeansContent2
  }) }}
{% endblock %}

