{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "common/common.macros.njk" import accessibleDetailsSpan %}

{% extends "common/page.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <p class="govuk-body">{{ line1 }}</p>
  <p class="govuk-body">{{ line2 }}</p>
  <ul class="govuk-list govuk-list--bullet">
    {% for line in connectionBulletPoints %}
      <li>{{ line | safe }}</li>
    {% endfor %}
  </ul>
  {% set jurisdictionsMoreDetailsTemplate %}
    {% if jurisdictionsMoreDetails.length == 1 %}
      {{ jurisdictionsMoreDetails[0] | safe }}
    {% else %}
      {% for jurisdictionItem in jurisdictionsMoreDetails %}
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">{{ jurisdictionItem.heading }}</h3>
        <p class="govuk-body govuk-!-margin-bottom-2">{{ jurisdictionItem.body | safe }}</p>
      {% endfor %}
    {% endif %}
  {% endset %}
  {{ govukDetails({
    summaryHtml: accessibleDetailsSpan(readMore, title),,
    html: jurisdictionsMoreDetailsTemplate
  }) }}
{% endblock %}
