{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "common/page.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <p class="govuk-body">{{ line1 }}</p>
  <p class="govuk-body">{{ line2 }}</p>
  <ul class="govuk-list govuk-list--bullet">
    {% for line in connectionBulletPoints %}
      <li>{{ line | safe }}</li>
    {% endfor %}
  </ul>
  {% set jurisdictionsMoreDetailsTemplate %}
    {% if jurisdictionsMoreDetails.length == 1 %}
      {{ jurisdictionsMoreDetails[0] | safe }}
    {% else %}
      {% for jurisdictionItem in jurisdictionsMoreDetails %}
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">{{ jurisdictionItem.heading }}</h3>
        <p class="govuk-body govuk-!-margin-bottom-2">{{ jurisdictionItem.body | safe }}</p>
      {% endfor %}
    {% endif %}
  {% endset %}

  {% set jurisdictionTemplate %}
    <h1 class="govuk-heading-s">{{ moredetailsJurisdiction.heading1 }}</h1>
    <p class="govuk-body">{{ moredetailsJurisdiction.line1 }}</p>
    <p class="govuk-body">{{ moredetailsJurisdiction.line2 }}</p>
    <p class="govuk-body">{{ moredetailsJurisdiction.line3 }}</p>

    <h1 class="govuk-heading-s">{{ moredetailsJurisdiction.heading2 }}</h1>
    <p class="govuk-body">{{ moredetailsJurisdiction.line4 }}</p>
    <p class="govuk-body">{{ moredetailsJurisdiction.line5 }}</p>
    <p class="govuk-body">{{ moredetailsJurisdiction.line6 }}</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>{{ moredetailsJurisdiction.bulletPoint1 }}</li>
      <li>{{ moredetailsJurisdiction.bulletPoint2 }}</li>
    </ul>
    <p class="govuk-body">{{ moredetailsJurisdiction.line7 }}</p>
    <p class="govuk-body">{{ moredetailsJurisdiction.line8 }}</p>

    <h1 class="govuk-heading-s">{{ moredetailsJurisdiction.heading3 }}</h1>
    <p class="govuk-body">{{ moredetailsJurisdiction.line9 }}</p>
    <p class="govuk-body">{{ moredetailsJurisdiction.line10 }}</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>{{ moredetailsJurisdiction.bulletPoint3 }}</li>
      <li>{{ moredetailsJurisdiction.bulletPoint4 }}</li>
      <li>{{ moredetailsJurisdiction.bulletPoint5 }}</li>
    </ul>
    <p class="govuk-body">{{ moredetailsJurisdiction.line11 }}</p>
  {% endset %}
  {{ govukDetails({
    summaryHtml: readMoreJurisdiction,
    html: jurisdictionTemplate
  }) }}
{% endblock %}

