{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "common/page.njk" %}

{% set readMoreContent %}
    <p class="govuk-body">{{ readMore.line1 }}</p>
    <p class="govuk-body">{{ readMore.line2 }}</p>
    <p class="govuk-body">{{ readMore.line3 }}</p>
{% endset %}

{% set readMoreContentJoint %}
  <p class="govuk-body">{{ readMoreJoint.line1 }}</p>
  <p class="govuk-body">{{ readMoreJoint.line2 }}</p>
{% endset %}

{% set readMoreContentChangeToSole %}
  <p class="govuk-body">{{ readMoreChangeToSole.line1 }}</p>
  <ol class="govuk-list govuk-list--number">
    <li>
      <p class="govuk-body"><a href="{{ links.applicationForFinalOrder }}" download="{{ downloadRefs.applicationForFinalOrder }}">
          {{ readMoreChangeToSole.orderedList1.linkText }}</a>
        {{ readMoreChangeToSole.orderedList1.line }}
      </p>
    </li>
    <li>
      <p class="govuk-body">{{ readMoreChangeToSole.orderedList2.line1 }}
        <a href="{{ links.certificateOfService }}" download="{{ downloadRefs.certificateOfService }}">
          {{ readMoreChangeToSole.orderedList2.linkText }}</a>
        {{ readMoreChangeToSole.orderedList2.line2 }}
      </p>
    </li>
    <li>
      <p class="govuk-body">{{ readMoreChangeToSole.orderedList3 }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <p class="govuk-body"> {{ readMoreChangeToSole.bulletPoint1.part1 }}
            <a href="{{ links.applicationForFinalOrder }}" download="{{ downloadRefs.applicationForFinalOrder }}">
              {{ readMoreChangeToSole.bulletPoint1.linkText }}</a>
            {{ readMoreChangeToSole.bulletPoint1.part2 }}
          </p>
        </li>
        <li>
          <p class="govuk-body"> {{ readMoreChangeToSole.bulletPoint2.part1 }}
            <a href="{{ links.certificateOfService }}" download="{{ downloadRefs.certificateOfService }}">{{ readMoreChangeToSole.bulletPoint2.linkText }}</a>
            {{ readMoreChangeToSole.bulletPoint2.part2 }}
          </p>
        </li>
      </ul>
    </li>
  </ol>
  <p class="govuk-body">{{ readMoreChangeToSole.line2 }}</p>
{% endset %}

{% block page_content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <p class="govuk-body">{{ line1 }}</p>
  {% if isJointApplication %}
    {{ govukWarningText({
      text: warningText,
      iconFallbackText: "Warning"
    }) }}
    {{ govukDetails({
      summaryText: readMoreJoint.subHeader,
      html: readMoreContentJoint
    }) }}
    {{ govukDetails({
      summaryText: readMoreChangeToSole.subHeader,
      html: readMoreContentChangeToSole
    }) }}
  {% else %}
    {{ govukWarningText({
      text: warningText,
      iconFallbackText: "Warning"
    }) }}
    {{ govukDetails({
      summaryText: readMore.subHeader,
      html: readMoreContent
    }) }}
  {% endif %}
{% endblock %}
