{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "common/page.njk" %}

{% set readMoreContent %}
    <p class="govuk-body">{{ readMore.line1 }}</p>
    <p class="govuk-body">{{ readMore.line2 }}</p>
    <p class="govuk-body">{{ readMore.line3 }}</p>
{% endset %}

{% set readMoreContentJoint %}
  <p class="govuk-body">{{ readMoreJoint.line1 }}</p>
  <p class="govuk-body">{{ readMoreJoint.line2 }}</p>
{% endset %}

{% set readMoreChangeToSole %}
  <p class="govuk-body">{{ readMoreChangeToSole.line1 }}</p>
  <ol class="govuk-list govuk-list--number">
    <li> {{ readMoreChangeToSole.orderedList1FinalOrder | safe }}
    </li>
    <li>
      {{ readMoreChangeToSole.orderedList2CertificateOfService | safe }}
    </li>
    <li>
      {{ readMoreChangeToSole.orderedList3 }}
      <ul class="govuk-list govuk-list--bullet">
        <li>
          {{ readMoreChangeToSole.bulletPoint1 | safe }}
        </li>
        <li>
          {{ readMoreChangeToSole.bulletPoint2 | safe }}
        </li>
      </ul>
    </li>
  </ol>
  <p class="govuk-body">{{ readMoreChangeToSole.postOrEmail }}</p>
{% endset %}

{% block page_content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <p class="govuk-body">{{ line1 }}</p>
  {% if isJointApplication %}
    {{ govukWarningText({
      text: warningText,
      iconFallbackText: "Warning"
    }) }}
    {{ govukDetails({
      summaryText: readMoreJoint.subHeader,
      html: readMoreContentJoint
    }) }}
    {{ govukDetails({
      summaryText: readMoreJoint.subHeader2,
      html: readMoreChangeToSole
    }) }}
  {% else %}
    {{ govukWarningText({
      text: warningText,
      iconFallbackText: "Warning"
    }) }}
    {{ govukDetails({
      summaryText: readMore.subHeader,
      html: readMoreContent
    }) }}
  {% endif %}
{% endblock %}
