{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "common/page.njk" %}

{% set nextIncompleteStep = getNextIncompleteStepUrl() %}
{% set isApplicationReadyToSubmit =
        nextIncompleteStep.startsWith('/check-your-answers') or
        nextIncompleteStep.startsWith('/pay-your-fee') or
        nextIncompleteStep.startsWith('/application-submitted') or
        not isJointApplication
%}
{% set title = titleSubmit if isApplicationReadyToSubmit else titleSoFar %}

{% block backLink %}{% endblock %}

{% block content %}
  {% block error_summary %}
    {% include "common/error/summary.njk" %}
  {% endblock %}

  <h1 class="govuk-heading-xl">{{ title }}</h1>

  {% for key, section in sections %}
    {% set rows = getAnswerRows(section) %}
    {% if rows | length %}
      <h2 class="govuk-heading-m">{{ sectionTitles[section] }}</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: rows
      }) }}
    {% endif %}
  {% endfor %}

  {% if isJointApplication %}
    {% block after_fields %}
      {{ jointApplicantReview }}
    {% endblock %}

    {{ govukButton({
      text: getContent(form.submit.text),
      name: sendToApplicant2ForReview,
      classes: form.submit.classes,
      type: "submit",
      preventDoubleClick: true,
      attributes: {
        id: 'main-form-submit'
      }
    }) }}
  {% else %}
    {% if isApplicationReadyToSubmit %}
      {% block form %}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            {% include "./form.njk" %}
          </div>
        </div>
    {% else %}
      {{ govukButton({
        text: continueApplication,
        href: nextIncompleteStep,
        preventDoubleClick: true
      }) }}
    {% endif %}
  {% endif %}

  {% include "common/contact-us.njk" %}
{% endblock %}
