{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "common/macros/service-address.njk" import serviceAddressMacro %}

{% extends "common/page.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-l" id="deemedServiceApplicationTitle">{{ title }}</h1>
  <p class="govuk-body">{{ line1 }}</p>
  <p class="govuk-body">{{ line2 }}</p>
  <p class="govuk-body">{{ line3 }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ suitableEvidence.photo }}</li>
    <li>{{ suitableEvidence.statement }}</li>
    <li>{{ suitableEvidence.message }}</li>
  </ul>
  <p class="govuk-body">{{ line4 }}</p>
  <p class="govuk-body">{{ line5 | safe }}</p>
  {{ govukButton({
    text: startButton.text,
    href: startButton.url,
    isStartButton: true
  }) }}
  <p class="govuk-body">{{ line6 }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ alsoTry.differentWay | safe }}</li>
    <li>{{ alsoTry.updateDetails | safe }}</li>
    <li>{{ alsoTry.applyBailiff | safe }}</li>
    <li>{{ alsoTry.searchRecords | safe }}</li>
    <li>{{ alsoTry.dispenseService | safe }}</li>
  </ul>
{% endblock %}
