{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends "common/page.njk" %}

{% block page_content %}
  {{ govukErrorSummary({
    titleText: errorSummaryHeading,
    classes: "hidden",
    attributes: {
      id: "uploadErrorSummary"
    },
    errorList: [
      {
        text: errors.applicant1UploadedFiles.errorUploading,
        href: "#upload",
        attributes: {
          id: "errorGeneric",
          class: "hidden"
        }
      },
      {
        text: errors.applicant1UploadedFiles.fileSizeTooBig,
        href: "#upload",
        attributes: {
          id: "errorFileSizeTooBig",
          class: "hidden"
        }
      },
      {
        text: errors.applicant1UploadedFiles.fileWrongFormat,
        href: "#upload",
        attributes: {
          id: "errorFileWrongFormat",
          class: "hidden"
        }
      }
    ]
  }) }}

  <h1 class="govuk-heading-l">{{ title }}</h1>
  <p class="govuk-body">{{ youNeed }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ certificate if userCase.inTheUk === 'Yes' else certificateForeign }}</li>
    {% if userCase.certifiedTranslation === 'Yes' %}<li>{{ certificateForeignTranslation }}</li>{% endif %}
    {% if shouldMentionProofOfNameChange %}
      <li>{{ proofOfNameChange }}</li>
    {% endif %}
  </ul>
  {% include "./document-upload.njk" %}
{% endblock %}
