<p class="govuk-body">{{ aosAwaitingOrDrafted.line1 }}</p>
<p class="govuk-body">{{ aosAwaitingOrDrafted.line2 }}</p>
{% if !isRespondentOverseas %}
<p class="govuk-body">{{ aosAwaitingOrDrafted.line3 }}</p>
<p class="govuk-body">{{ aosAwaitingOrDrafted.line4 }}</p>
{% else %}
<p class="govuk-body">{{ aosAwaitingOrDrafted.line5 }}</p>
<p class="govuk-body">{{ aosAwaitingOrDrafted.line6 }}</p>
{% endif %}
