{% if applicant1NoResponseSendPapersAgain %}
<p class="govuk-body">{{ sendPapersAgain.line1 }}</p>
<p class="govuk-body">{{ sendPapersAgain.line2 }}</p>
<h4 class="govuk-heading-s">{{ whatHappensNext }}</h4>
<p class="govuk-body">{{ sendPapersAgain.line3 }}</p>
{% else %}
{% if aosOverdueAndDrafted %}
  <p class="govuk-body" id="aosDueAndDraftedLine1">{{ aosDueAndDrafted.line1 }}</p>
  <p class="govuk-body" id="aosDueAndDraftedLine2">{{ aosDueAndDrafted.line2 }}</p>
  <h4 class="govuk-heading-s" id="aosDueAndDraftedDoNext">{{ aosDueAndDrafted.doNext }}</h4>
  <p class="govuk-body" id="aosDueAndDraftedLine3">{{ aosDueAndDrafted.line3 }}</p>
  <p class="govuk-body" id="aosDueAndDraftedLine4">{{ aosDueAndDrafted.line4 }}</p>
  <p class="govuk-body">
    <a class="govuk-link" id="aosDueAndDraftedLink" href={{ aosDueAndDrafted.linkUrl }}>{{ aosDueAndDrafted.linkText }}</a>
  </p>
{% else %}
  <p class="govuk-body" id="aosDueLine1">{{ aosDue.line1 }}</p>
  <p class="govuk-body" id="aosDueLine2">{{ aosDue.line2 }}</p>
  <p class="govuk-body" id="aosDueLine3">{{ aosDue.line3 }}</p>
  <p class="govuk-body" id="aosDueLine3">{{ aosDue.line4 }}</p>
  <p class="govuk-body">
    <a class="govuk-link" id="aosDueLink" href={{ aosDue.linkUrl }}>{{ aosDue.linkText }}</a>
  </p>
{% endif %}
{% endif %}