{% from "govuk/components/button/macro.njk" import govukButton %}

<p class="govuk-body">{{ awaitingClarification.line1 }}</p>

{% include "applicant1/hub-page/common/court-feedback.njk" %}

<p class="govuk-body">{{ awaitingClarification.line3.part1 }}
  <a class="govuk-link" href={{ awaitingClarification.line3.link }}
  download={{ awaitingClarification.line3.downloadReference }}>
  {{ awaitingClarification.line3.part2 }}</a>{{ awaitingClarification.line3.part3 }}
</p>
<h4 class="govuk-heading-s">{{ awaitingClarification.next }}</h4>
<p class="govuk-body">{{ awaitingClarification.line4 }}</p>
<p class="govuk-body">{{ awaitingClarification.line5 }}</p>
{{ govukButton({
  text: awaitingClarification.buttonText,
  href: awaitingClarification.buttonLink,
  preventDoubleClick: true
}) }}
