{% from "govuk/components/details/macro.njk" import govukDetails %}

<p class="govuk-body">{{ awaitingConditionalOrder | safe }}</p>

{% if isDeemedOrDispensedApplication and not userCase.aosStatementOfTruth %}
  <p class="govuk-body">{{ conditionalOrderWithDeemedOrDispensedService }}
    <a class="govuk-link" href={{deemedOrDispensedAccepted.downloadReference}}
    download="Certificate-of-Service">
    {{deemedOrDispensedAccepted.line1}}</a>
  </p>

{% elif isSuccessfullyServedByBailiff %}
  <p class="govuk-body">{{ awaitingConditionalOrderAndServedByBailiff.line1 }}
  </p>
  <p class="govuk-body">{{ awaitingConditionalOrderAndServedByBailiff.line2 }}</p>
{% endif %}

{{ govukDetails({
  summaryText: readMore,
  html: readMoreContent
}) }}

{% block form %}
  {% include "../form.njk" %}
{% endblock %}
