<p class="govuk-body">{{ awaitingBailiffService.line1 }}</p>
<p class="govuk-body">{{ awaitingBailiffService.line2.part1 }}
  <a class="govuk-link" href={{ awaitingBailiffService.line2.link }}
  download={{ awaitingBailiffService.line2.downloadReference }}>
  {{ awaitingBailiffService.line2.part2 }}</a>
  {{ awaitingBailiffService.line2.part3 }}
</p>
