{% from "govuk/components/button/macro.njk" import govukButton %}

<p class="govuk-body">{{ awaitingClarification.line1 }}</p>

{% include "applicant1/hub-page/common/court-feedback.njk" %}

<h4 class="govuk-heading-s">{{ awaitingClarification.next }}</h4>
<p class="govuk-body">{{ awaitingClarification.line4 }}</p>
<p class="govuk-body">{{ awaitingClarification.line5 }}</p>
{{ govukButton({
  text: awaitingClarification.buttonText,
  href: awaitingClarification.buttonLink,
  preventDoubleClick: true
}) }}
