{% from "govuk/components/button/macro.njk" import govukButton %}

<p class="govuk-body">{{ awaitingFinalOrderOrFinalOrderOverdue.line1 }}</p>
{{ govukButton({
  text: awaitingFinalOrderOrFinalOrderOverdue.buttonText,
  href: awaitingFinalOrderOrFinalOrderOverdue.buttonLink,
  preventDoubleClick: true
}) }}
