{% if isSearchGovRecordsFeeRequired %}
    <p class="govuk-body">{{ awaitingConsiderationSearchGovRecords.line1 }}</p>
    <p class="govuk-body">{{ awaitingConsiderationSearchGovRecords.line2 }}</p>
{% else %}
    <p class="govuk-body">{{ generalApplicationSubmitted.introLine1 }}</p>
    <p class="govuk-body">{{ generalApplicationSubmitted.introLine2 }}</p>
    <h2 class="govuk-heading-l">{{ generalApplicationSubmitted.happensNextHeading }}</h2>
    <p class="govuk-body">{{ generalApplicationSubmitted.happensNextLine1 }}</p>
    <p class="govuk-body">{{ generalApplicationSubmitted.happensNextLine2 }}</p>
    <p class="govuk-body">{{ generalApplicationSubmitted.happensNextLine3 }}</p>
{% endif %}