{% if isSearchGovRecordsFeeRequired %}
    <p class="govuk-body">{{ awaitingConsiderationSearchGovRecords.line1 }}</p>
    <p class="govuk-body">{{ awaitingConsiderationSearchGovRecords.line2 }}</p>
{% else %}
    <p class="govuk-body">{{ awaitingConsiderationSearchGovRecords.hwfLine1 }}</p>
    <p class="govuk-body">{{ awaitingConsiderationSearchGovRecords.hwfLine2 }}</p>
    <h4 class="govuk-heading-s">{{ awaitingConsiderationSearchGovRecords.whatHappensNext }}</h4>
    <p class="govuk-body">{{ awaitingConsiderationSearchGovRecords.hwfLine3 }}</p>
    <p class="govuk-body">{{ awaitingConsiderationSearchGovRecords.hwfLine4 }}</p>
{% endif %}