{% from "common/macros/service-address.njk" import serviceAddressMacro %}

<p class="govuk-body">{{ serviceApplicationSubmitted.line1 }}</p>

<h3 class="govuk-heading-s">{{ awaitingServiceApplicationDocuments.heading1 }}</h3>
<p class="govuk-body">{{ awaitingServiceApplicationDocuments.line1 }}</p>
{% set sendingDocumentsByOnlineForm %}
  <p class="govuk-body">{{ documentsByOnlineFormSteps.line1 }} <a href="{{ contactWebForm }}">{{ documentsByOnlineFormSteps.line2}}</a> </p>
  <p class="govuk-body">{{ documentsByOnlineFormSteps.line3 }}</p>
{% endset %}
{{ govukDetails({
  summaryText: documentsByOnlineForm,
  html: sendingDocumentsByOnlineForm
}) }}
{% set sendingDocumentsByPost %}
  <ol class="govuk-list govuk-list--number">
    {% for property, step in documentsByPostSteps %}
      <li>{{ step }}</li>
    {% endfor %}
  </ol>
  {{ serviceAddressMacro(serviceAddress) }}
{% endset %}
{{ govukDetails({
  summaryText: documentsByPost,
  html: sendingDocumentsByPost
}) }}

<h3 class="govuk-heading-s">{{ serviceApplicationSubmitted.happensNextHeading }}</h3>
<p class="govuk-body">{{ serviceApplicationSubmitted.happensNextLine1 }}</p>
<p class="govuk-body">{{ serviceApplicationSubmitted.happensNextLine2 }}</p>
{% if isAlternativeServiceApplication %}
    <p class="govuk-body">{{ alternativeService.alternativeServiceLine1 }}</p>
{% endif %}
