{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% if displayState.state() == 'AwaitingPronouncement' and isCoFieldsSet %}
  <p class="govuk-body">{{ awaitingPronouncement.line1 }}</p>
  <p class="govuk-body">{{ awaitingPronouncement.line2 }}</p>
  {{ govukInsetText({
    text: awaitingPronouncement.line3
  }) }}
  <p class="govuk-body">{{ awaitingPronouncement.line4 }}</p>
  {{ certificateOfEntitlementLineHtml | safe }}

{% elif displayState.state() == 'AwaitingLegalAdvisorReferral' or displayState.state() == 'AwaitingPronouncement' and not isCoFieldsSet %}
  {% if isSwitchToSoleCoApp and displayState.state() == 'AwaitingLegalAdvisorReferral' %}
    <p class="govuk-body">{{ legalAdvisorReferral.switchToSoleCoLine }}</p>
  {% endif %}
  <p class="govuk-body">{{ legalAdvisorReferral.line1 }}</p>
  <p class="govuk-body">{{ legalAdvisorReferral.line2 }}</p>
{% endif %}
