{% if isSearchGovRecordsFeeRequired %}
    <p class="govuk-body">{{ awaitingConsiderationSearchGovRecords.line1 }}</p>
    <p class="govuk-body">{{ awaitingConsiderationSearchGovRecords.line2 }}</p>
{% else %}
    <p class="govuk-body">{{ introLine1 }}</p>
    <p class="govuk-body">{{ introLine2 }}</p>
    <h2 class="govuk-heading-l">{{ happensNextHeading }}</h2>
    <p class="govuk-body">{{ happensNextLine1 }}</p>
    <p class="govuk-body">{{ happensNextLine2 }}</p>
    <p class="govuk-body">{{ happensNextLine3 }}</p>
{% endif %}