<p class="govuk-body">{{ bailiffServiceUnsuccessful.line1 }}</p>
<p class="govuk-body">{{ bailiffServiceUnsuccessful.line2.part1 }}
  <a class="govuk-link" href={{ bailiffServiceUnsuccessful.line2.link }}
  download={{ bailiffServiceUnsuccessful.line2.downloadReference }}>
    {{ bailiffServiceUnsuccessful.line2.part2 }}</a>{{ bailiffServiceUnsuccessful.line2.part3 }}
</p>
