{% from "common/macros/service-address.njk" import serviceAddressMacro %}

{% if isClarificationDocumentsUploaded %}
  <p class="govuk-body">{{ clarificationSubmitted.withDocuments.youHaveProvided }}</p>
{% else %}
  <p class="govuk-body govuk-!-margin-bottom-1">{{ clarificationSubmitted.withoutDocuments.needToPost }}</p>
  {{ serviceAddressMacro(serviceAddress, 'heading') }}
{% endif %}

<p class="govuk-body">{{ clarificationSubmitted.thisWasCourtsFeedback }}</p>

{% include "applicant1/hub-page/common/court-feedback.njk" %}
