{% from "govuk/components/button/macro.njk" import govukButton %}

<p class="govuk-body">{{ interimApplicationsSaveAndSignOut.line1 }}</p>
<p class="govuk-body">{{ interimApplicationsSaveAndSignOut.line2 }}</p>
<h4 class="govuk-heading-s">{{ interimApplicationsSaveAndSignOut.whatYouCanDoNext }}</h4>
<p class="govuk-body">{{ interimApplicationsSaveAndSignOut.line3 }}</p>
{{ govukButton({
    text: interimApplicationsSaveAndSignOut.completeApplication,
    href: interimApplicationStartPagePath,
    preventDoubleClick: true
}) }}
<p class="govuk-body">{{ interimApplicationsSaveAndSignOut.line4 | safe }}</p>
<p class="govuk-body">{{ interimApplicationsSaveAndSignOut.line5 }}</p>