{% if userCase.applicant1AppliedForFinalOrderFirst === 'Yes' %}
  <p class="govuk-body">{{ finalOrderRequested.line1 }}</p>
  <p class="govuk-body">{{ finalOrderRequested.line2 }}</p>
  <p class="govuk-body">{{ finalOrderRequested.line3 }}</p>
{% else %}
  <p class="govuk-body">{{ finalOrderRequested.applicant2AppliedFirstLine1 }}</p>
  <p class="govuk-body">{{ finalOrderRequested.applicant2AppliedFirstLine2 }}</p>
{% endif %}
