<p class="govuk-body">{{ finalOrderGranted.line1 }}</p>
<p class="govuk-body">
  <a class="govuk-link" href={{ finalOrderGranted.link }}
  download={{ finalOrderGranted.downloadReference }}>
    {{ finalOrderGranted.part1 }}</a>
  {{ finalOrderGranted.part2 }}
</p>
{% if userCase.isFinalOrderOverdue %}
  <p class="govuk-body">
    <a class="govuk-link" href={{ finalOrderGranted.generalOrderLink }}
    download={{ finalOrderGranted.generalOrderDownloadReference }}>
      {{ finalOrderGranted.line2 }}</a>
  </p>
{% endif %}
