<p class="govuk-body" id="otherLine1Sole">{{ informationRequestedFromOther.line1 }}</p>
<p class="govuk-body" id="otherLine2Sole">{{ informationRequestedFromOther.line2 }}</p>

{% include "applicant1/hub-page/common/court-feedback.njk" %}
