<p class="govuk-body" id="respondedToRfiLine1Sole">{{ respondedToRequestForInformation.line1 }}</p>
<p class="govuk-body" id="respondedToRfiLine2Sole">{{ respondedToRequestForInformation.line2 }}</p>
<p class="govuk-body" id="respondedToRfiLine3Sole">{{ respondedToRequestForInformation.line3 }}</p>
<p class="govuk-body" id="respondedToRfiLine4Sole">{{ respondedToRequestForInformation.line4 }}</p>
<p class="govuk-body" id="respondedToRfiLine5Sole">{{ respondedToRequestForInformation.line5 }}</p>

{% include "applicant1/hub-page/common/court-feedback.njk" %}
