<p class="govuk-body">{{ serviceApplicationRejected.line1.part1 }}
  <a class="govuk-link" href={{ serviceApplicationRejected.line1.link }}
  download={{ serviceApplicationRejected.line1.downloadReference }}>
    {{ serviceApplicationRejected.line1.part2 }}</a>
</p>
<p class="govuk-body">{{ serviceApplicationRejected.line2.part1 }}
  <a class="govuk-link" href={{ serviceApplicationRejected.line2.link }}>
    {{ serviceApplicationRejected.line2.part2 }}</a>
</p>
