{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "common/macros/service-address.njk" import serviceAddressMacro %}

{% extends "common/page.njk" %}

{% block backLink %}{% endblock %}

{% block page_content %}
  <div class="govuk-panel govuk-panel--confirmation">
    <h1 id="serviceApplicationSubmittedTitle" class="govuk-panel__title">{{ title }}</h1>
  </div>
  <br/>

  {% include './latest-update.njk' %}
{% endblock %}
