{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "common/macros/service-address.njk" import serviceAddressMacro %}

{% extends "common/page.njk" %}

{% block backLink %}{% endblock %}

{% block page_content %}
  <div class="govuk-panel govuk-panel--confirmation">
    <h1 id="serviceApplicationSubmittedTitle" class="govuk-panel__title">{{ title }}</h1>
  </div>
  <br/>
  <p class="govuk-body">{{ introLine1 }}</p>
  {% if serviceApplicationDocsAllProvided and not serviceApplicationFeeRequired %}
    <p class="govuk-body">{{ introLine2 }}</p>
  {% endif %}

  {% if not serviceApplicationDocsAllProvided %}
    <h2 class="govuk-heading-l">{{ sendDocumentsHeading }}</h2>
    <p class="govuk-body">{{ sendDocumentsLine1 }}</p>

    {% set sendingDocumentsByOnlineForm %}
      <p class="govuk-body">{{ documentsByOnlineFormSteps.line1 }} <a href="{{ contactWebForm }}">{{ documentsByOnlineFormSteps.line2}}</a> </p>
      <p class="govuk-body">{{ documentsByOnlineFormSteps.line3 }}</p>
    {% endset %}
    {{ govukDetails({
      summaryText: documentsByOnlineForm,
      html: sendingDocumentsByOnlineForm
    }) }}

    {% set sendingDocumentsByPost %}
      <ol class="govuk-list govuk-list--number">
        {% for property, step in documentsByPostSteps %}
          <li>{{ step }}</li>
        {% endfor %}
      </ol>
      {{ serviceAddressMacro(serviceAddress) }}
      <p class="govuk-body">{{ documentsByPostMoreDetails }}</p>
    {% endset %}
    {{ govukDetails({
      summaryText: documentsByPost,
      html: sendingDocumentsByPost
    }) }}
  {% endif %}

  <h2 class="govuk-heading-l">{{ happensNextHeading }}</h2>
  <p class="govuk-body">{{ happensNextLine1 }}</p>
  <p class="govuk-body">{{ happensNextLine2 }}</p>
  {% if serviceApplicationType == 'alternative service' %}
    <p class="govuk-body">{{ alternativeService.alternativeServiceLine1 }}</p>
  {% endif %}

  <p class="govuk-body">
    <a class="govuk-link" href="/">{{ returnToHub }}</a>
  </p>
{% endblock %}
