<h2 class="govuk-heading-m">{{ webchatEnglandAndWales }}</h2>
<p class="govuk-body">{{ getHelp }}</p>
<p class="govuk-body">
  <a href="#" class="govuk-link" id="startChatLink">{{ startWebchat }}</a>
</p>

<h2 class="govuk-heading-m">{{ webchatScotland }}</h2>
<p class="govuk-body">{{ getHelp }}</p>
<p class="govuk-body govuk-!-font-weight-bold">{{ closedForTheDay }}</p>
<p class="govuk-body">{{ openHoursScotland }}</p>

<h2 class="govuk-heading-m">{{ telephone }}</h2>
<p class="govuk-body">{{ phoneAgent }}</p>
<p class="govuk-body"><strong class="govuk-!-font-weight-bold">{{ phoneNumber }}</strong></p>
