<div id="genesysWebchat">
    <!--  Config — change these in one place-->
    <genesys-config class="hidden" id="genesysConfig"
    data-genesysBaseUrl="{{ globals.webchat.genesysBaseUrl }}"
    data-genesysEnvironment="{{ globals.webchat.genesysEnvironment }}"
    data-genesysReferrerPage="{{ genesysReferrerPage }}"
    data-genesysDeploymentId="{{ genesysDeploymentId }}"
    data-genesysKervBaseUrl="{{ globals.webchat.genesysKervBaseUrl }}"
    data-genesysApiKey="{{ globals.webchat.genesysApiKey }}"
    data-genesysPopupBlocked="{{ genesys.popupBlocked }}"
    data-genesysChatWithUs="{{ genesys.chatWithUs }}"
    data-genesysNonce="{{ globals.nonce }}">
    </genesys-config>

    <div id="chatContent" class="govuk-body">
      <div id="genesysOpenWidget">
        <p class="govuk-body">
          <a href="#" class="govuk-link" id="startChatLink">{{ genesys.startWebchat }}</a>
        </p>
      </div>
    </div>
</div>
