<!-- What is this script for? Should we be hosting this? -->
<script type="text/javascript" src="/jira/ruxitagentjs_ICA7NVfhqrux_10317250630095842.js" data-dtconfig="app=10a49b80ad3f1d2e|cuc=ogh5o57r|mdl=mdcc6=20|owasp=1|mel=100000|featureHash=ICA7NVfhqrux|md=mdcc1=a[id^e^dqheader-details-user-fullname^dq].dataset.username,mdcc2=a[name='ajs-remote-user']@content,mdcc3=a[name='ajs-issue-key']@content,mdcc4=a#key-val,mdcc5=bdocument.referrer,mdcc6=bnavigator.userAgent,mdcc7=a#footer-build-information,mdcc8=bnavigator.connection.downlink|lastModification=1752839996695|tp=500,50,0|rdnt=1|uxrgce=1|agentUri=/jira/ruxitagentjs_ICA7NVfhqrux_10317250630095842.js|reportUrl=/jira/rb_bf00910jpo|rid=RID_-86454413|rpid=-1972245221|domain=hmcts.net"></script>
<!--  Config — change these in one place-->
<genesys-config class="hidden" id="genesysConfig"
data-genesysDeploymentId="{{globals.webchat.genesysDeploymentId}}"
data-genesysKervBaseUrl="{{globals.webchat.genesysKervUrl}}"
data-genesysApiKey="{{globals.webchat.genesysApiKey}}"
data-genesysHtml="{% include genesys-popup.njk %}"
data-genesysPopupBlocked="{{ popupBlocked }}">
</genesys-config>

<div class="genesys-availability-widget">
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6" id="chatWidget">
        <div id="chatContent" class="govuk-body">
          <div id="genesysSpinner">
            {% include genesys-spinner.njk %}
          </div>
          <div class="hidden" id="genesysOpenWidget">
            {% include genesys-open-widget.njk %}
          </div>
          <div class="hidden" id="genesysBusyNoAgentsWidget">
            {% include genesys-busy-no-agents-widget.njk %}
          </div>
          <div class="hidden" id="genesysBusyEWTWidget">
            {% include genesys-busy-ewt-widget.njk %}
          </div>
          <div class="hidden" id="genesysClosedWidget">
            {% include genesys-closed-widget.njk %}
          </div>
          <div class="hidden" id="genesysErrorWidget">
            {% include genesys-error-widget.njk %}
          </div>
          <div class="hidden" id="genesysErrorCheckingAvailabilityWidget">
            {% include genesys-error-checking-availability-widget.njk %}
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
