{% extends "common/page.njk" %}

{% block header %}{% endblock %}

{% block beforeContent %}{% endblock %}

{% block content %}
    <div class="govuk-details__text">
        <p id="metrics"></p>
        {% include genesys-webchat.njk %}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
