{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "common/page.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% block error_summary %}
        {% include "common/error/summary.njk" %}
      {% endblock %}

      <h1 class="govuk-heading-l">{{ title }}</h1>
      <p class="govuk-body">{{ line1Prefix }}
        {% if preMadeConnections.length > 1 %}
          <ul class="govuk-list govuk-list--bullet">
            {% for index in preMadeConnections %}
              <li>{{ connectionText[index] }}</li>
            {% endfor %}
          </ul>
        {% else %}
          {{ connectionText[preMadeConnections[0]] }}.
        {% endif %}
      </p>

      <p class="govuk-body">{{ line2 }}</p>

      <form class="form" id="main-form" method="post" action="" novalidate="novalidate">
        {% set summary %}
          <h3 class="govuk-heading-s">{{ habitualResidence }}</h3>
          <p class="govuk-body">{{ habitualResidenceText | safe }}</p>

          <h3 class="govuk-heading-s">{{ domicile }}</h3>
          <p class="govuk-body">{{ domicileText | safe }}</p>

          <h3 class="govuk-heading-s">{{ disputesAboutJurisdiction }}</h3>
          <p class="govuk-body">{{ disputesAboutJurisdictionText | safe }}</p>

          <input type="hidden" name="_csrf" id="csrfToken" value="{{ csrfToken }}">

          {% include "../../common/form/fields.njk" %}
        {% endset %}

        {{ govukDetails({
          summaryText: readMore,
          html: summary
        }) }}

        <div class="govuk-form-group">
          {{ govukButton({
            text: getContent(form.submit.text),
            classes: form.submit.classes,
            type: "submit",
            preventDoubleClick: true,
            attributes: {
              id: 'main-form-submit'
            }
          }) }}
        </div>
      </form>

      <p class="govuk-body">
        <button class="hmcts-button-link" type="submit" name="saveAndSignOut" value="true" data-prevent-double-click="true" data-module="govuk-button" />
          {{ saveAndSignOut }}
        </button>
      </p>

      {% include "../../common/contact-us.njk" %}

    </div>
  </div>
{% endblock %}
