{% from "common/macros/service-address.njk" import serviceAddressMacro %}

<p class="govuk-body"><a class="govuk-link" id="checkContactDetailsHubLink" href="{{ reviewContactDetails.url }}">{{ reviewContactDetails.text }}</a></p>
<p class="govuk-body"><a class="govuk-link" id="downloadsHubLink" href="{{ hubPageDownloads.url }}">{{ hubPageDownloads.text }}</a></p>
