{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "common/page.njk" %}

{% block content %}
    {% block error_summary %}
        {% include "common/error/summary.njk" %}
    {% endblock %}
<h1 class="govuk-heading-l">{{ title }}</h1>
{% if respondentContactDetailsPublic %}
    <p class="govuk-body">{{ currentContactDetails }}</p>
{% endif %}
{{ govukSummaryList({
    rows: [
        {
            key: {
            text: homeAddress
        },
            value: {
            text: applicantAddress | safe
        }
        },
        {
            key: {
            text: telephoneNumber
        },
            value: {
            text: phoneNumber
        }
      }
  ]
}) }}
{% include "./form.njk" %}
    {% block contact_us %}
        {% include "../../common/contact-us/details.njk" %}
    {% endblock %}
{% endblock %}