{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% set legendClasses = "govuk-fieldset__legend--m" %}
{% if field.labelHidden %}
  {% set legendClasses = "govuk-visually-hidden" %}
  {% elif labelSize !== null %}
  {% set legendClasses = labelClasses %}
{% endif %}

{{ govukDateInput({
  id: field.id if field.id else fieldName,
  namePrefix: fieldName,
  fieldset: {
    legend: {
      text: getContent(field.label),
      classes: legendClasses
    }
  },
  hint: {
    html: getContent(field.hint)
  },
  items: formItems(field.values, userCase[fieldName]),
  errorMessage: getError(fieldName),
  formGroup: {
    classes: "govuk-visually-hidden " + field.id if field.hidden else field.id
  }
}) }}
