<div class="moj-add-another" data-module="moj-add-another" data-moj-add-another-init="">
  <fieldset class="govuk-fieldset moj-add-another__item">
    <legend class="govuk-fieldset__legend moj-add-another__title govuk-fieldset__legend--m">
      {{ label }}
    </legend>
  </fieldset>

  {% for item in (listInputFields(field) or []) %}
      {% if item %}
        {% for fieldName, field in item.fields %}
          {% set labelClasses %}{% if field.labelSize !== null %}govuk-label--{{ field.labelSize if field.labelSize else "m" }}{% endif %}{% endset %}
          {% include "./fields/" + field.type + ".njk" %}
        {% endfor %}
      {% endif %}
  {% endfor %}

  <div class="moj-button-action">
    <button type="button" class="govuk-button govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4" data-module="govuk-button" data-govuk-button-init="">
      Add another {{ label }}
    </button>
  </div>
</div>