{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "common/macros/service-address.njk" import serviceAddressMacro %}

{% extends "common/page.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-l" id="progressWithoutAddressTitle">{{ title }}</h1>
  <p class="govuk-body">{{ line1 }}</p>
  <p class="govuk-body">{{ line2 }}</p>
  <p class="govuk-body">{{ line3 | safe }}</p>
  <p class="govuk-body">{{ line4 }}</p>
  <p class="govuk-body">{{ line5 | safe }}</p>
{% endblock %}

{% block form %}
  {% include "./form.njk" %}
{% endblock %}
