{% extends "common/page.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>
  <p class="govuk-body">Your draft application has been withdrawn.</p>
  <p class="govuk-body">If you change your mind, you can create a new draft application by logging in with the same email address.</p>
{% endblock %}
