{% from "common/macros/service-address.njk" import serviceAddressMacro %}

<ul class="govuk-list contact-us">
  <li>
    <h4 class="govuk-heading-s">{{ webChat }}</h4>
    {% if featureFlags.NFD_hiddenContent %}
      <div class="govuk-visually-hidden" id="hiddenContent"></div>
    {% endif %}
    {% include "../../webchat/genesys-webchat.njk" %}
  </li>

  <li>
    <h4 class="govuk-heading-s">{{ sendUsAMessage }}</h4>
    <a class="govuk-link" href="{{ contactWebForm }}">{{ sendUsAMessage }}</a>
  </li>

  <li>
    <h4 class="govuk-heading-s">{{ telephone }}</h4>
    <p class="govuk-body">{{ telephoneNumber }}</p>
  </li>

  <li>
    <h4 class="govuk-heading-s">{{ openingTimesHeading }}</h4>
    <p class="govuk-body">{{ openingTimes }}</p>
    <p class="govuk-body">{{ closingTimes }}</p>
  </li>

  <li>
    <h4 class="govuk-heading-s">{{ post }}</h4>
    {{ serviceAddressMacro(serviceAddress, false, true) }}
  </li>
</ul>
