{% if isIntendingAndAbleToSwitchToSoleFinalOrder %}
  <p class="govuk-body">{{ intendingAndAbleToSwitchToSoleFinalOrder.line1 }}</p>
{% elif hasApplicantAppliedForFinalOrderFirst %}
  <p class="govuk-body">{{ hasAppliedForFinalOrder.line1 }}</p>
  <p class="govuk-body">{{ hasAppliedForFinalOrder.line2 }}</p>
{% else %}
  <p class="govuk-body">{{ awaitingFinalOrder.line1 }}</p>
{% endif %}
