{% if applicantIsEligibleToApplyForFinalOrderAfterSwitchToSole %}
  <p class="govuk-body">{{ applyForFinalOrderAfterSwitchToSole.line1 }}</p>
{% elif applicantIsEligibleToSubmitIntentionToSwitchToSoleFo %}
  <p class="govuk-body">{{ awaitingJointFinalOrderLate.line1 }}</p>
  <h3 class="govuk-heading-s">{{ awaitingJointFinalOrderLate.subHeading }}</h3>
  <p class="govuk-body">{{ awaitingJointFinalOrderLate.line2 }}</p>
  <p class="govuk-body">{{ awaitingJointFinalOrderLate.line3 }}
    <a class="govuk-link" href={{ awaitingJointFinalOrderLate.link }}>{{ awaitingJointFinalOrderLate.linkText }}</a>
  </p>
{% elif hasApplicantAppliedForFinalOrderFirst %}
  <p class="govuk-body">{{ hasAppliedForFinalOrder.line1 }}</p>
  <p class="govuk-body">{{ hasAppliedForFinalOrder.line2 }}</p>
{% else %}
  {% include "./awaiting-final-order.njk" %}
{% endif %}
