{% from "common/macros/service-address.njk" import serviceAddressMacro %}
{% if userCase.applicant1CannotUpload or userCase.applicant2CannotUpload %}
  <p class="govuk-body">{{ sendDocumentLine1 }}</p>
    <h3 class="govuk-heading-s">{{ sendDocumentHeading }}</h3>
    <p class="govuk-body">{{ line2 }}</p>
    <ul class="govuk-list govuk-list--bullet">
      {% for document in cannotUploadDocuments %}
        <li>{{ documents[document] }}</li>
      {% endfor %}
    </ul>

    {% set sendingDocumentsByOnlineForm %}
      <p class="govuk-body">{{ documentsByOnlineFormSteps.line1 }} <a href="{{ contactWebForm }}">{{ documentsByOnlineFormSteps.line2}}</a> </p>
      <p class="govuk-body">{{ documentsByOnlineFormSteps.line3 }}</p>
    {% endset %}
    {{ govukDetails({
      summaryText: documentsByOnlineForm,
      html: sendingDocumentsByOnlineForm
    }) }}

    {% set sendingDocumentsByPost %}
      <ol class="govuk-list govuk-list--number">
        {% for property, step in documentsByPostSteps %}
          <li>{{ step }}</li>
        {% endfor %}
      </ol>
      {{ serviceAddressMacro(serviceAddress) }}
      <p class="govuk-body">{{ documentsByPostMoreDetails }}</p>
    {% endset %}
    {{ govukDetails({
      summaryText: documentsByPost,
      html: sendingDocumentsByPost
    }) }}
  {% if userCase.iWantToHavePapersServedAnotherWay %}
    <h3 class="govuk-heading-m">{{ subHeading3 }}</h3>
    <p class="govuk-body">{{ line3.p1 }}</p>
    <p class="govuk-body">{{ line3.p2 }}</p>
    <p class="govuk-body"><a class="govuk-link" href={{ line4.link }}>{{ line4.part1 }}</a></p>
  {% endif %}
{% else %}
  <h2 class="govuk-heading-l">{{ subHeading4 }}</h2>
  {% if not userCase.iWantToHavePapersServedAnotherWay %}
    <p class="govuk-body">{{ line5 }}</p>
  {% endif %}
  {% if not isJointApplication %}
    {% if hasASolicitorContactForPartner %}
      <p class="govuk-body">{{ line7 }}</p>
      {% elif not isRespondentRepresented %}
      <p class="govuk-body">{{ line6 }}</p>
    {% endif %}
    {% if applicationServedAnotherWay %}
      <p class="govuk-body">{{ line8 }}</p>
      <p class="govuk-body">{{ line9 }}</p>
    {% endif %}
    {% if isRespondentOverseas %}
      <p class="govuk-body">{{ line10 }}</p>
      <p class="govuk-body">{{ line11 }}</p>
    {% endif %}
  {% endif %}
{% endif %}
