{% if isIntendingAndAbleToSwitchToSoleFinalOrder %}
  <p class="govuk-body" id="intendingAndAbleToSwitchToSoleFinalOrderContent">{{ intendingAndAbleToSwitchToSoleFinalOrder.line1 }}</p>
{% elif hasApplicantAppliedForFinalOrderFirst %}
  <p class="govuk-body" id="hasAppliedForFinalOrderContent">{{ hasAppliedForFinalOrder.line1 }}</p>
  <p class="govuk-body">{{ hasAppliedForFinalOrder.line2 }}</p>
{% else %}
  <p class="govuk-body" id="awaitingFinalOrderContent">{{ awaitingFinalOrder.line1 }}</p>
{% endif %}
