{% if userCase.previousState === State.AwaitingAdminClarification %}
  {% include "awaiting-legal-advisor-referral.njk" %}
{% else %}
  {% include "../../sole/latest-update-content/clarification-submitted.njk" %}
{% endif %}
