<p class="govuk-body">{{ conditionalOrderPronounced.line1 }}</p>
<p class="govuk-inset-text">{{ conditionalOrderPronounced.line2 }}</p>
<p class="govuk-body">{{ conditionalOrderPronounced.line3.part1 }}
  <a class="govuk-link" href={{ conditionalOrderPronounced.line3.link }}
  download={{ conditionalOrderPronounced.line3.downloadReference }}>
  {{ conditionalOrderPronounced.line3.part2 }}</a>
  {{ conditionalOrderPronounced.line3.part3 }}
</p>
