<p class="govuk-body">{{ conditionalOrderPronounced.line1 }}</p>
<p class="govuk-inset-text">{{ conditionalOrderPronounced.line2 }}</p>
<p class="govuk-body">{{ certificateOfEntitlementLine.part1 }}
  <a class="govuk-link" href={{ certificateOfEntitlementLine.link }}
  download={{ certificateOfEntitlementLine.downloadReference }}>
    {{ certificateOfEntitlementLine.part2 }}</a>
  {{ certificateOfEntitlementLine.part3 }}
</p>
