<p class="govuk-body">{{ informationRequestedFromPartner.line1 }}</p>
<p class="govuk-body">{{ informationRequestedFromPartner.line2 }}</p>

{% include "applicant1/hub-page/common/court-feedback.njk" %}
