{% from "govuk/components/button/macro.njk" import govukButton %}

<p class="govuk-body" id="informationRequestedLine1">{{ informationRequested.line1 }}</p>
<p class="govuk-body" id="informationRequestedLine2">{{ informationRequested.line2 }}</p>
<h4 class="govuk-heading-s" id="informationRequestedLine3">{{ informationRequested.line3 }}</h4>
<p class="govuk-body" id="informationRequestedLine4">{{ informationRequested.line4 }}</p>
<p class="govuk-body" id="informationRequestedLine5">{{ informationRequested.line5 }}</p>
{{ govukButton({
  text: informationRequested.buttonText,
  href: informationRequested.buttonLink,
  preventDoubleClick: true
}) }}
<p class="govuk-body" id="informationRequestedLine6">{{ informationRequested.line6 }}</p>

{% include "applicant1/hub-page/common/court-feedback.njk" %}
