<p class="govuk-body" id="respondedToRfiLine1">{{ respondedToRequestForInformation.line1 }}</p>
<p class="govuk-body" id="respondedToRfiLine2">{{ respondedToRequestForInformation.line2 }}</p>

{% include "applicant1/hub-page/common/court-feedback.njk" %}
