{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "common/page.njk" %}

{% block content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>

  {% block error_summary %}
    {% include "common/error/summary.njk" %}
  {% endblock %}

    {% set rows = [
      {
        key: {
          text: yourAddress
        },
        value: {
          text: applicantAddress | safe
        },
        actions: {
          items: [
            {
              href: prefixUrl + '/update-your-address',
              text: "Change",
              visuallyHiddenText: "update your address"
            }
          ]
        }
      },
      {
        key: {
          text: yourPhoneNumber
        },
        value: {
          text: phoneNumber
        },
        actions: {
          items: [
            {
              href: prefixUrl + '/update-phone-number',
              text: "Change",
              visuallyHiddenText: "update your phone number"
            }
          ]
        }
      },
      {
        key: {
          text: addressPrivateQuestion
        },
        value: {
          text: addressPrivate
        },
        actions: {
          items: [
            {
              href: prefixUrl + '/update-address-private',
              text: "Change",
              visuallyHiddenText: "update whether your contact details are private"
            }
          ]
        }
      }
    ]  %}
    {% if showInRefugeQuestion %}
      {% set rows = (rows.push({
        key: {
          text: inRefugeQuestion
        },
        value: {
          text: inRefuge
        },
        actions: {
          items: [
            {
              href: prefixUrl + '/update-in-refuge',
              text: "Change",
              visuallyHiddenText: "update whether you live in a refuge"
            }
          ]
        }
      }), rows) %}
    {% endif %}
  {{ govukSummaryList({ rows: rows }) }}

  {{ govukButton({
    text: 'Continue',
    href: '/',
    preventDoubleClick: true
  }) }}

  {% block contact_us %}
    {% include "../../common/contact-us/details.njk" %}
  {% endblock %}

{% endblock %}
