{% if errors and errors.length > 0 %}
  {% set errorList = [] %}
  {% for item in errors %}
    {% set errorList = (errorList.push({
      href: item.schema,
      text: item.message
    }), errorList) %}
  {% endfor %}
  {{ govukErrorSummary({
    "titleText": errorSummaryHeading,
    "errorList": errorList
  }) }}
{% endif %}

