{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% if sessionErrors and sessionErrors.length > 0 %}
  {% set errorList = [] %}
  {% for item in sessionErrors %}
    {% set errorList = (errorList.push({
      href: '#' + item.propertyName,
      text: errors[item.propertyName][item.errorType]
    }), errorList) %}
  {% endfor %}
  {{ govukErrorSummary({
    "titleText": errorSummaryHeading,
    "errorList": errorList
  }) }}
{% endif %}
