apiVersion: v2
appVersion: '1.0'
description: A Helm chart for nfdiv-frontend App
name: nfdiv-frontend
home: https://github.com/hmcts/nfdiv-frontend
version: 0.0.99
dependencies:
  - name: nodejs
    version: 3.1.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
  - name: idam-pr
    version: 2.3.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: idam-pr.enabled
