nodejs:
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  registerAdditionalDns:
    enabled: true
    prefix: civil
    primaryIngressHost: ${SERVICE_FQDN}
  autoscaling:
    enabled: false
  environment:
    IDAM_TOKEN_CACHE: true
#    CASE_TYPE: NFD-4397 # Uncomment to connect to backend PR, don't forget Jenkinsfile_CNP too
  keyVaults:
    nfdiv:
      resourceGroup: nfdiv
      secrets:
        - idam-secret
        - name: AppInsightsInstrumentationKey-Preview
          alias: AppInsightsInstrumentationKey
        - name: redis6-access-key
          alias: redis-access-key
        - frontend-secret
        - os-places-token
        - idam-systemupdate-username
        - idam-systemupdate-password
        - pcq-token-key
        - genesys-deployment-id
        - genesys-deployment-id-cy
        - genesys-api-key

idam-pr:
  enabled: true
  redirect_uris:
    divorce:
      - https://${SERVICE_FQDN}/oauth2/callback
      - https://civil-${SERVICE_FQDN}/oauth2/callback
      - https://${SERVICE_FQDN}/oauth2/callback-applicant2
      - https://civil-${SERVICE_FQDN}/oauth2/callback-applicant2
