nodejs:
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  registerAdditionalDns:
    enabled: true
    prefix: civil
    primaryIngressHost: ${SERVICE_FQDN}
  autoscaling:
    enabled: false
  keyVaults:
    nfdiv:
      resourceGroup: nfdiv
      secrets:
        - idam-secret
        - name: AppInsightsInstrumentationKey-Preview
          alias: AppInsightsInstrumentationKey
        - redis-access-key
        - frontend-secret
        - os-places-token
        - idam-systemupdate-username
        - idam-systemupdate-password

idam-pr:
  enabled: true
  redirect_uris:
    divorce:
      - https://${SERVICE_FQDN}/oauth2/callback
      - https://civil-${SERVICE_FQDN}/oauth2/callback
      - https://${SERVICE_FQDN}/oauth2/callback-applicant2
      - https://civil-${SERVICE_FQDN}/oauth2/callback-applicant2
