nodejs:
  applicationPort: 3001
  aadIdentityName: nfdiv
  ingressHost: nfdiv.{{ .Values.global.environment }}.platform.hmcts.net
  registerAdditionalDns:
    enabled: true
    prefix: nfdiv
    primaryIngressHost: end-civil-partnership.{{ .Values.global.environment }}.platform.hmcts.net
  image: 'hmctspublic.azurecr.io/nfdiv/frontend:latest'
  readinessDelay: 45
  readinessTimeout: 5
  readinessPeriod: 15
  livenessDelay: 45
  livenessTimeout: 5
  livenessPeriod: 15
  memoryLimits: '1Gi'
  memoryRequests: '256Mi'
  cpuLimits: '1000m'
  cpuRequests: '50m'
  devcpuRequests: '100m'
  devmemoryLimits: '1000Mi'
  devmemoryRequests: '256Mi'
  keyVaults:
    nfdiv:
      resourceGroup: nfdiv
      secrets:
        - idam-secret
        - AppInsightsInstrumentationKey
        - redis-access-key
        - frontend-secret
        - os-places-token
        - idam-systemupdate-username
        - idam-systemupdate-password
        - pcq-token-key
  environment:
    SERVICE_AUTH_PROVIDER_URL: 'http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal'
    IDAM_WEB_URL: 'https://idam-web-public.{{ .Values.global.environment }}.platform.hmcts.net/login'
    IDAM_API_URL: 'https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net/o/token'
    PAYMENTS_API_URL: 'http://payment-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal'
    REDIS_HOST: 'nfdiv-frontend-session-storage-{{ .Values.global.environment }}.redis.cache.windows.net'
    CCD_URL: 'http://ccd-data-store-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal'
    #CCD_URL: 'http://ccd-data-store-api-nfdiv-case-api-pr-739.service.core-compute-preview.internal'
    DOCUMENT_MANAGEMENT_URL: 'http://dm-store-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal'
    EQUALITY_URL: 'https://pcq.{{ .Values.global.environment }}.platform.hmcts.net'
#disable autoscaling because it doesnt deploy AAT
autoscaling:
  enabled: false
  maxReplicas: 16
  targetCPUUtilizationPercentage: 80

idam-pr:
  enabled: false
