nodejs:
  applicationPort: 3001
  aadIdentityName: nfdiv
  ingressHost: nfdiv.{{ .Values.global.environment }}.platform.hmcts.net
  image: 'hmctspublic.azurecr.io/nfdiv/frontend:latest'
  keyVaults:
    nfdiv:
      resourceGroup: nfdiv
      secrets:
        - idam-secret
        - AppInsightsInstrumentationKey
        - redis-access-key
  environment:
    IDAM_WEB_URL: "https://idam-web-public.{{ .Values.global.environment }}.platform.hmcts.net/login"
    IDAM_API_URL: "https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net/o/token"
    OAUTH_CLIENT_REDIRECT: "https://nfdiv.{{ .Values.global.environment }}.platform.hmcts.net/oauth2/callback"
    REDIS_HOST: "nfdiv-frontend-redis-{{ .Values.global.environment }}.redis.cache.windows.net"
  autoscaling:
    enabled: true
    maxReplicas: 16
    targetCPUUtilizationPercentage: 80

