nodejs:
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  registerAdditionalDns:
    enabled: true
    prefix: civil
    primaryIngressHost: ${SERVICE_FQDN}
  environment:
    COS_URL: 'http://nfdiv-cos-aat.service.core-compute-aat.internal'

idam-pr:
  enabled: true
  redirect_uris:
    divorce:
      - https://${SERVICE_FQDN}/oauth2/callback
      - https://civil-${SERVICE_FQDN}/oauth2/callback
