{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}
{% from "common/macros/page-link.njk" import pageLink %}

{% set cookieMessageHTML %}
  <p class="govuk-body">{{ cookiesBanner.cookiesLine1 }}</p>
  <p class="govuk-body">{{ cookiesBanner.cookiesLine2 }}</p>
{% endset %}

{% set acceptHtml %}
  {{ pageLink(cookiesBanner.acceptCookiesConfirmationMessage) }}
{% endset %}

{% set rejectHtml %}
  {{ pageLink(cookiesBanner.rejectCookiesConfirmationMessage) }}
{% endset %}

{{ govukCookieBanner({
  classes: 'cookie-banner',
  ariaLabel: cookiesBanner.cookiesHeading + " " + serviceName,
  hidden: true,
  messages: [
    {
      classes: 'cookie-banner-message',
      headingText: cookiesBanner.cookiesHeading + " " + serviceName,
      html: cookieMessageHTML,
      actions: [
      {
        classes: 'cookie-banner-accept-button',
        text: cookiesBanner.acceptAnalyticsCookies,
        type: "button"
      },
      {
        classes: 'cookie-banner-reject-button',
        text: cookiesBanner.rejectAnalyticsCookies,
        type: "button"
      },
      {
        text: cookiesBanner.viewCookies,
        href: "/cookies"
      }
    ]
    },
    {
      classes: 'cookie-banner-accept-message',
      html: acceptHtml,
      role: "alert",
      hidden: true,
      actions: [
      {
        classes: 'cookie-banner-hide-button',
        text: cookiesBanner.hideMessage
      }
    ]
    },
    {
      classes: 'cookie-banner-reject-message',
      html: rejectHtml,
      role: "alert",
      hidden: true,
      actions: [
      {
        classes: 'cookie-banner-hide-button',
        text: cookiesBanner.hideMessage
      }
    ]
    }
  ]
}) }}
