{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "common/macros/service-address.njk" import serviceAddressMacro %}

{% extends "common/page.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-l" id="daSearchDispenseTitle">{{ title }}</h1>
  <p class="govuk-body">{{ line1 }}</p>
  <p class="govuk-body">{{ line2 | safe }}</p>
  <p class="govuk-body">{{ line3 }}</p>
  <p class="govuk-body">{{ line4 }}</p>
  <p class="govuk-body">{{ line5 }}</p>
  <p class="govuk-body">{{ line6 }}</p>
{% endblock %}
