{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "common/macros/service-address.njk" import serviceAddressMacro %}

{% extends "common/form/form.njk"%}

{% set requestForInformationResponseCannotUploadDocs %}
  {{ govukCheckboxes({
    idPrefix: 'requestForInformationResponseCannotUploadDocs',
    name: 'requestForInformationResponseCannotUploadDocs',
    fieldset: {
      legend: {
        text: cannotUploadDocuments,
        classes: "govuk-visually-hidden"
      }
    },
    items: [{
        name: 'requestForInformationResponseCannotUploadDocs',
        text: cannotUploadDocuments,
        value: 'checked',
        checked: userCase.requestForInformationResponseCannotUploadDocs == 'Yes',
        conditional: {
          html: conditionalText
        }
    }],
    errorMessage: getError('requestForInformationResponseCannotUploadDocs'),
    formGroup: {
      classes: 'requestForInformationResponseCannotUploadDocs'
    }
  }) }}
{% endset %}

{% block form_content %}

  {% for fieldName, field in form.fields %}
    {% if fieldName == 'requestForInformationResponseCannotUploadDocs' %}
      {{ requestForInformationResponseCannotUploadDocs | safe }}
    {% elseif fieldName == 'requestForInformationResponseDetails' %}
      {% include "common/form/fields/" + field.type + ".njk" %}
    {% elseif fieldName == 'requestForInformationResponseUploadedFiles'%}
      <br>
      <h3 class="govuk-heading-m">{{ uploadHeading }}</h3>
      <p class="govuk-body">{{ line3 }}</p>
      {{ govukInsetText({
        text: line4
      }) }}

      {% set infoTakePhotoDetails %}
        <ol class="govuk-list govuk-list--number">
          <li>{{ infoBullet1 }}</li>
          <li>{{ infoBullet2 }}</li>
          <li>{{ infoBullet3 }}</li>
          <li>{{ infoBullet4 }}</li>
          <li>{{ infoBullet5 }}</li>
        </ol>
      {% endset %}
      {{ govukDetails({
        summaryHtml: infoTakePhotoAccessibleSpan,
        html: infoTakePhotoDetails
      }) }}

      <p class="govuk-body">{{ line5 }}</p>
      <p class="govuk-body">
        {{ line6.part1 }}<br>
        {{ line6.part2 }}
      </p>

      <h2 class="govuk-heading-s">{{ uploadAFile }}</h2>
      {% include "common/form/fields/" + field.type + ".njk" %}

      {% include "./document-upload.njk" %}
    {% else %}
      {% include "common/form/fields/" + field.type + ".njk" %}
    {% endif %}
  {% endfor %}

{% endblock %}
