{% extends "common/page.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <p class="govuk-body">{{ line1 }}</p>

  <h3 class="govuk-heading-m">{{ responseHeading }}</h3>
  <p class="govuk-body">{{ line2 }}</p>

{% endblock %}

{% block form %}
  {% include "./form.njk" %}
{% endblock %}
