{% from "govuk/components/button/macro.njk" import govukButton %}

<form class="form" id="main-form" method="post" action="" novalidate="novalidate">
  <input type="hidden" name="_csrf" id="csrfToken" value="{{ csrfToken }}">
    {% block form_content %}
      {% include "common/form/fields.njk" %}
    {% endblock %}

    {% if userCase.state == 'AwaitingClarification' %}
      {{ govukButton({
        text: 'Respond to the court',
        href: '/respond_to_court',
        preventDoubleClick: true
      }) }}

    {% elif userCase.state == 'AwaitingFinalOrder' or userCase.state == 'FinalOrderOverdue' %}
      {{ govukButton({
        text: 'Apply for a final order',
        href: '/finalising-your-application',
        preventDoubleClick: true
      }) }}

    {% else %}
    {{ govukButton({
      text: applyForConditionalOrder,
      classes: form.submit.classes,
      type: "submit",
      name: "applicant1ApplyForConditionalOrderStarted",
      value: "Yes",
      preventDoubleClick: true
    }) }}
    {% endif %}
 </form>
