{% from "govuk/components/button/macro.njk" import govukButton %}

<form class="form" id="main-form" method="post" action="" novalidate="novalidate">
  <input type="hidden" name="_csrf" id="csrfToken" value="{{ csrfToken }}">
    {% block form_content %}
      {% include "common/form/fields.njk" %}
    {% endblock %}

    {{ govukButton({
      text: applyForConditionalOrder,
      classes: 'disable-upon-submit',
      type: "submit",
      name: "applicant1ApplyForConditionalOrderStarted",
      value: "Yes"
    }) }}
 </form>
