{% set readMoreContent %}
  <p class="govuk-body">{{ readMoreSummary }}</p>
  <ol class="govuk-list govuk-list--number">
    {% for stepName, stepText in readMoreSteps %}
      <li>
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">{{ stepText.heading }}</h3>
        <p class="govuk-body">{{ stepText.body }}</p>
      </li>
    {% endfor %}
  </ol>
  {% if displayState.isBefore('AwaitingConditionalOrder') %}
    <p class="govuk-body">{{ moneyAndProperty.part1 }}
      <a class="govuk-link" href={{ moneyAndProperty.link }} target="_blank">{{ moneyAndProperty.part2 }}</a>
    </p>
  {% endif %}
{% endset %}

{% set certificateOfEntitlementLineHtml %}
  <p class="govuk-body">{{ certificateOfEntitlementLine.part1 }}
    <a class="govuk-link" href={{ certificateOfEntitlementLine.link }}
    download={{ certificateOfEntitlementLine.downloadReference }}>
      {{ certificateOfEntitlementLine.part2 }}</a>
    {{ certificateOfEntitlementLine.part3 }}
  </p>
{% endset %}

{% include "./latest-update-content" + theLatestUpdateTemplate %}
