{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set readMoreContent %}
  <p class="govuk-body">{{ readMoreSummary }}</p>
  <ol class="govuk-list govuk-list--number">
    {% for property, line in readMoreSteps %}
      <li>{{ line | safe }}</li>
    {% endfor %}
  </ol>
  {% if progressionIndex < 9 %}
    <p class="govuk-body">{{ moneyAndProperty | safe }}</p>
  {% endif %}
{% endset %}

{% if progressionIndex == 12 %}
  <p class="govuk-body">{{ awaitingPronouncement.line1 }}</p>
  <p class="govuk-body">{{ generalAwaitingPronouncement.line2 }}</p>
  {{ govukInsetText({
    text: generalAwaitingPronouncement.line3
  }) }}
  <p class="govuk-body">{{ awaitingPronouncement.line4 }}</p>
  <p class="govuk-body">{{ generalAwaitingPronouncement.line5 }}</p>
{% elif progressionIndex == 10 %}
  <p class="govuk-body">{{ d8Submitted.line1 | safe }}</p>
  <p class="govuk-body">{{ d8Submitted.line2 }}</p>
  <h4 class="govuk-heading-s">{{ whatHappensNext }}</h4>
  <p class="govuk-body">{{ d8Submitted.line3 }}</p>
  <p class="govuk-body">{{ d8Submitted.line4 }}</p>
{% elif progressionIndex == 9 %}
  <p class="govuk-body">{{ awaitingConditionalOrder | safe }}</p>
  {% if isDeemedOrDispensedApplication %}
    <p class="govuk-body">{{ conditionalOrderWithDeemedOrDispensedService }}
      <a class="govuk-link" href={{deemedOrDispensedAccepted.downloadReference}}
      download="Certificate-of-Service">
      {{deemedOrDispensedAccepted.line1}}</a>
    </p>
  {% elif isSuccessfullyServedByBailiff %}
    <p class="govuk-body">{{ awaitingConditionalOrderAndServedByBailiff.line1 }}
      <a class="govuk-link" href={{servedByBailiff.downloadReference}}
      download="Certificate-of-Service">
      {{servedByBailiff.line2}}</a>
    </p>
    <p class="govuk-body">{{ awaitingConditionalOrderAndServedByBailiff.line2 }}</p>
  {% endif %}
  {{ govukDetails({
    summaryText: readMore,
    html: readMoreContent
  }) }}
  {% block form %}
    {% include "./form.njk" %}
  {% endblock %}
{% elif progressionIndex == 8 and isDisputedApplication %}
  <p class="govuk-body">{{ d8Awaiting.line1 | safe }}</p>
  <h4 class="govuk-heading-s">{{ whatHappensNext }}</h4>
  <p class="govuk-body">{{ d8Awaiting.line2 }}</p>
  <p class="govuk-body">{{ d8Awaiting.line3 }}</p>
{% elif progressionIndex == 8 %}
  {% if isDeemedOrDispensedApplication %}
    <p class="govuk-body">{{ holdingAndDeemedOrDispensedAccepted }}
    <a class="govuk-link" href={{deemedOrDispensedAccepted.downloadReference}}
      download="Certificate-of-Service">
      {{deemedOrDispensedAccepted.line1}}</a>
    </p>
  {% elif isSuccessfullyServedByBailiff %}
    <p class="govuk-body">{{ servedByBailiff.line1 | safe }}
      <a class="govuk-link" href={{servedByBailiff.downloadReference}}
      download="Certificate-of-Service">
      {{servedByBailiff.line1}}</a>
    </p>
  {% else %}
    <p class="govuk-body">{{ holding.line1 | safe }}</p>
  {% endif %}
  <p class="govuk-body">{{ holding.line2 }}</p>
  <p class="govuk-body">{{ holding.line3 }}</p>
  {{ govukDetails({
    summaryText: readMore,
    html: readMoreContent
  }) }}
{% elif progressionIndex > 1 and progressionIndex < 8 %}
  <p class="govuk-body">{{ aosDue.line1 }}</p>
  <p class="govuk-body">{{ aosDue.line2 | safe }}</p>
{% else %}
  {% for property, line in aosAwaitingOrDrafted %}
    <p class="govuk-body">{{ line }}</p>
  {% endfor %}
{% endif %}
