<p class="govuk-body">{{ withdrawText }}</p>
<a id="withdrawLink" class="withdraw-link govuk-details govuk-link govuk-details__summary-text" href="{{ withdrawLinkUrl }}">
    {{ withdrawLinkText }}
</a>
