{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "common/page.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <p class="govuk-label">{{detailsPrivateMoreDetails}} <a class="govuk-link" href="https://www.gov.uk/guidance/domestic-abuse-how-to-get-help">{{supportAvailable}}</a></p>,
{% endblock %}