{% extends "common/page.njk" %}

{% from "govuk/components/select/macro.njk" import govukSelect %}

{% block page_content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>

  <h2 class="govuk-heading-m">{{ postcode }}</h2>
  <p class="govuk-body">
    <strong class="govuk-label govuk-!-font-weight-bold">{{ formState.yourAddressPostcode }}</strong>
    <a href="/enter-your-address" class="govuk-link" aria-label="{{ change }} {{ postcode }}">{{ change }}</a>
  </p>

  {% set addresses = formState.yourAddressPostcode | getAddressesFromPostcode %}
  {% set foundAddresses = [{value: -1, text: addressesFound(addresses.length)}] %}
  {% for address in addresses %}
    {% set foundAddresses = (foundAddresses.push({
      value: loop.index0,
      text: address.fullAddress
    }), foundAddresses) %}
  {% endfor %}

  {{ govukSelect({
    id: "findAddress",
    name: "findAddress",
    classes: "govuk-!-width-three-quarters",
    label: {
      text: selectAddress
    },
    items: foundAddresses
  }) }}

  <script id="addresses" type="application/json">{{ addresses | json }}</script>

  <p class="govuk-body">
    <a href="/enter-your-uk-address" class="govuk-link">{{ cannotFindAddress }}</a>
  </p>
{% endblock %}

{% block form %}
  {% include "./form.njk" %}
{% endblock %}
